<div>
    <h2 class="comn-dash-account-heading">Personal Information</h2>
    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal" id="userAccount">
      <div class="user-profile text-center">
        <div class="profile">
                <img src="{{ user.getUserImg() is empty ? base_url('assets/front/image/profile.png') : base_url('assets/front/image/users/')~user.getUserImg() }}" class="user-img profile-content profile"  alt="my head">
        </div>
        <div class="upload-btn mb-2">
        
            <lable id="imgmsg" style="display:none">Max size is 2 Mb</lable>
            <label> Upload
            <input id="hprofile" type="file"  alt="my head"></label>
                              
          
        </div>
      </div>
        <div class="form-group">
            <label for="name1">Username</label>
            <input type="text" name="name" class="form-control" value="{{ user.name }}" id="name1">
        </div>
        <div class="form-row">
            <div class="form-group col-12 col-md-8">
                <label for="email1">Email</label>
                <input type="email" name="email" class="form-control" value="{{ user.email }}" id="email1">
            </div>
            <div class="form-group col-12 col-md-4">
                {% if(verfiy.is_verified == '0') %}
                    <button type="button" class="comn-btn w-100 verify email-verify-btn">Verify Your Email</button>
                {% else %}
                    <button type="button" class="comn-btn w-100 disable">Verified</button>
                {% endif %}
            </div>
        </div>
        <div class="form-group" id="otp_section" style="display:none">
            <label class="col-sm-2 control-label" for="telephone">OTP</label>
            <div class="col-sm-8">
                <input type="text"  placeholder="OTP" id="otp" class="form-control">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" id="confirmOtp">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <label for="mob1">Mobile number</label>    
            <input type="text" class="form-control"  name="telephone" value="{{ user.telephone }}" id="mob1">
        </div>
        <div class="form-group">                      
             <input type="submit" value="Save" id="updatebutton" class="comn-btn">
             <!--  <button type="button" class="comn-btn">Save</button> -->
        </div>
    </form>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script>
    $("#updatebutton").click(function(){
        setInterval(function() {
            window.location.reload();
        }, 3000); 
    });
    $(document).ready(function () {
        $("#mob1").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57))
            {
                $("#errmsg").html("Please Enter Numeric values Only").show().fadeOut("slow");
                   return false;
            }
       });
    });

  $(document).on('click', '.verify', function(){
      $('#loaderImg').css('display','block');
    var email =  $('#email').val();
    var link2 = $('#base_url').val();
    var url = link2+'verifyEmail';   
            $.ajax({
               url: url,
               type : "POST",
              // dataType : "json",
               data: {"email" : email},
               
               success: 
               function(data) {
                  // alert(data);
                   if(data.success)
                  // $("#verify_msg").html("verification code send on your email address please check").show().fadeOut(5000);
                   toastr.success("Verification code send on your email address please check." , {timeOut: 5000});
                  $('#otp_section').css('display','block');
                    // $("#msg").addClass("alert alert-success");
                    // $("#msg").html("Record removed successfully").show().fadeOut(3000);
                    // setTimeout(function () { location.reload(); }, 2000);
               },

            });
      //}confirmOtp
    });
     $(document).on('click', '#confirmOtp', function(){
     var otp =  $('#otp').val();
     //alert(otp);
      
            $.ajax({
              url: '/match-otp',
              type : "POST",
               dataType : "json",
              data: {"otp" : otp},
               
              success: 
              function(data) {
console.log(data);
                  if(data.stattus=='success'){
                                   $('#otp_section').css('display','none');
                   $("#verify_msg").html("OTP verified successfully").show().fadeOut(5000);
                     setTimeout(function () { location.reload(); }, 2000);
                  }else{
                      $("#verify_msg").html("Otp mismatch").show().fadeOut(8000);
                  }
              },

            });
     // }
    });
     
    $("#updatebutton").click(function(){
        setInterval(function() {
            location.reload();
        }, 3000); 
    });


    $("#userAccount").validate({
        rules: {   
            name: {
                required: true,
            },
            email:{
                required: true,
            },
            telephone:{
                required: true,
            }
        },
        messages: {
            name: {
                required: "Username is required",
            },
            email:{
                required: "Email is required",
            },
            telephone:{
                required: "Phone Number is required",
            }
        },
    });
    
    
</script>