
{% extends "layouts/front.twig" %}

{% block content %}
<style>

.action-button {
    width: 100px;
    background: #3c2b86;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
</style>
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wishlist-section py-5">
        <div class="container">
            <div class="my-account-title">
                <h2>Set New password</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="wishlist-list-area">
                        <p id="msg" style="background-colot:green"></p>
                        <div class="col-12 col-lg-6 mx-auto">
                      
                           <form action="{{ base_url('account/resetPasswordProcess') }}" method="post" 
                           id = "resetPassword" style="position: relative;text-align: center;">

                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"/><br>
                                <input type="password" class="form-control" name="cpassword" placeholder="Enter Confirm Password"/>
                                {% if error %}
                            <div class="alert alert-red error" style="color:red;">{{ error }}</div>
                        {% endif %}
                                <input type="submit" name="" 
                                class="action-button" value="Submit"/>
                                 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
   <script>
        $().ready(function() {
            $("#resetPassword").validate({
                rules: {   
                    password: {
                        required: true,
                        minlength :3,
                        maxlength :8
                    },
                    cpassword:{
                        required: true,
                        equalTo: "#password"
                    },
                },
                messages: {
                    password: {
                        required: "Password is required",
                    },
                    cpassword: "Enter Confirm Password Same as Password",
                },
            });
        });

   </script>
{% endblock %}
