{% extends "layouts/front.twig" %}
{% block styles %}
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}

       <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- cart section start -->
    <section class="cart-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="cart-list-area">
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                    <tr>
			                           <th class="text-left">
											<label class="container-checkbox">
                                                <input type="checkbox" v-model="allCartItemOptionSelected" v-on:click="checkAllCartItems" id="fcheck">
												<span class="checkmark"></span>
											</label>
										</th>
										<th class="text-left">Product Name</th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Total</th>
										<th class="text-center"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in cart">
										<td  class="text-left">
											

                                            <label class="container-checkbox">
                                                <input type="checkbox" name="cart" v-model="selectedCartItems" :value="item.id" v-on:click="pushSelectedToCheckoutCart(item, this)">
                                                <span class="checkmark"></span>
                                            </label>
										</td>
										<td class="cart-product-image">
											<a v-bind:title="item.name" v-bind:href="productDetail(item.slug)"><img v-bind:src="productImage(item.image)" v-bind:alt="item.name" v-bind:title="item.name" class="img-thumbnail"></a>
											<a v-bind:title="item.name" v-bind:href="productDetail(item.slug)" v-text="item.name"></a>
										</td>
										<td v-text="item.currency +' '+ item.price"></td>
										<td>
                                            <div class="input-group plus-minus-input">
                                                <div class="widgets-numberpicker">
                                                    <div class="widgets-numberpicker-decrement" v-on:click="cartItemQuantityDecrement(item)"><i class="fa fa-minus"></i></div>
                                                </div>
                                                <div class="input-group-field item-quantity-count">
                                                    <input type="text" class="form-control" v-model="item.quantity" v-on:keypress="onlyNumber" maxlength="9">
                                                </div>
                                                <div class="widgets-numberpicker">
                                                    <div class="widgets-numberpicker-increment" v-on:click="cartItemQuantityIncrement(item)"><i class="fa fa-plus"></i></div>
                                                </div>
                                            </div>
										</td>
										
										<td class="total-price" v-text="item.currency +' '+  Math.round((item.price * item.quantity))"></td>
										<td class="product-remove-icon">
											<a onclick="return confirm('Are you sure?')" v-on:click="removeFromCart(item)"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12 col-md-12">
                    <div class="cart-actions-box">
                        <button class="comn-btn black-btn" v-bind:disabled="selectedCartItems.length == 0" id="deletedItem">Deleted Selected</button>

                      
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5">
            <div class="cart-instructions-area">
                <div class="row"> 
                    <!--div class="col-12 col-md-6">
                        <div class="">
                            <div class="instructions-heading"><h3>SPECIAL INSTRUCTIONS FOR SELLER</h3></div>
                            <textarea name="" class="form-control cart-textarea"></textarea>
                        </div>
                    </div-->
                    <div class="col-12 col-md-6">
                        <div class="cart-totals-box">
                            <div class="instructions-heading"><h3>CART TOTALS</h3></div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Subtotal</th>
                                            <th><span v-text="subtotal"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-top">
                                            <td class="total-price">TOTAL</td>
                                            <td class="total-price"><span v-text="total"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--form>
                                <div class="form-group row">
                                    <label for="coupon" class="col-sm-3 col-form-label">Coupon</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="coupon" placeholder="Coupon code ex: SALE10">
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I agree with the terms and conditions.</label>
                                </div>
                            </form-->
                           

                            <button class="comn-btn w-100 btn-confirm" v-on:click="cartCheckout()" v-bind:disabled="selectedCartItems.length == 0">Continue</button>
                            <!---button type="submit" class="comn-btn w-100"><a href="checkout.html">Proceed to Checkout</a></button--->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>

 /*$(document).on('click', '#deletedItem', function(){
    
    swal({
  title: "Thankyou!",
  text: "Our excecutives will contact you soon.",
  type: "success",
});
});*/
    // swal({
    //     title: "Are you sure?",
    //     text: "You will not be able to recover this imaginary file!",
    //     type: "warning",
    //     showCancelButton: true,
    //     confirmButtonColor: '#DD6B55',
    //     confirmButtonText: 'Yes, delete it!',
    //     cancelButtonText: "No, cancel plx!",
    //     closeOnConfirm: false,
    //     closeOnCancel: false
    // },
    // function(isConfirm){
    // if (isConfirm){
    //   swal("Deleted!", "Your imaginary file has been deleted!", "success");
    // } else {
    //   swal("Cancelled", "Your imaginary file is safe :)", "error");
    // }
    // });
//});


 $(document).on('click', '#deletedItem', function(){
     alert("Are you sure, you want to delete?");
    var item = [];
    $.each($("input[name='cart']:checked"), function(){
            item.push($(this).val());
    });
    $.ajax({
        url: 'http://localhost/new.bafredo.com/cart/deletedCart',
        type: 'get',
        data: {'item': item},
        dataType : "json",
        // error: function() {
        // alert('Something is wrong');
        // },
        success: function(data) {
        //   $("#msg").addClass("alert alert-success");
        //   $("#msg").html("Record removed successfully").show().fadeOut(3000);
                    
        //             setTimeout(function () { 
      location.reload(); 
            
        //}, 2000);
        //       }
        //     });
    //alert("My favourite sports are: " + favorite.join(", "));
        }
    });
});
</script>
{% endblock %}