{% extends "layouts/front.twig" %}
{% block styles %}
	<style type="text/css">
		
	</style>
{% endblock %}
{% block content %}
	<section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- Account section start -->
    <section class="account-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="account-form-area">
                        <div class="account-heading"><h2><i class="fa fa-sign-in"></i>Login</h2></div>
                        <form action="{{ base_url('login/process') }}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username or email address <span class="required">*</span></label>
                                <input type="email" spellcheck="false" placeholder="Email or username" class="form-control" id="input-email"  name="email" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password <span class="required">*</span></label>
                                <input spellcheck="false" type="password" name="password" value="" placeholder="Password"  class="form-control" id="input-password">
                            </div>
                            <div class="row" >
                        {% if error %}
						    <div class="alert alert-red" >{{ error }}</div>
                        {% endif %}
                        </div>
                            <!--div class="form-group d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div>
                                <p class="mb-0"><a href="#" class="lost-pass"><i class="fa fa-life-bouy"></i>Lost your password?</a></p>
                            </div-->
                            <input class="account-outline-btn login-btn" type="submit" value="LOGIN">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="account-info-area">
                        <div class="account-heading text-center"><h2></i>Register</h2></div>
                        <div class="account-info"><p>Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</p></div>
                        <div class="text-center"><a href="{{ base_url('/registration') }}" class="comn-btn black-btn">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
	<script>
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '485292091867337',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.12'
            });

            FB.AppEvents.logPageView();
        };

        function checkLoginState()
        {
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    testAPI();
                } else {
                    // The person is not logged into your app or we are unable to tell.
                    document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
                    // statusChangeCallback(response);
                }
            });
        }

        function loginfacebook()
        {
            FB.login(function(response) {
                // handle the response
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    testAPI();
                } else {
                    // The person is not logged into your app or we are unable to tell.
                    document.getElementById('status').innerHTML = 'Please log ' + 'into this app.';
                }
            }, {scope: 'public_profile,email'});
        }

        function testAPI()
        {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me?fields=name,email,first_name,last_name,id,gender,picture', function(response) {
                if(response.name != null){
                    console.log(response);
                    // Ask user for password
                    // $("#askPassModal").modal("show");
                    // $("#btnModalContinue").click(function () {
                    // var password = $("#askPassModal input[name=password]");
                    // if (password.val() != "") {
                    // $('#askPassModal').modal('hide');
                    process_login(response);
                    // } else {
                    // password.css("border", "solid 1px red");
                    // }
                    // });
                    // $(window).on('hidden.bs.modal', function() {});
                } else {
                    alert("It fails to login within third part.");
                }
            }, {scope: 'public_profile,email'});
        }

        function process_login(response)
        {
            if (response.email == undefined) {
                alert("You facebook email is rquired, Kindly grant us permission.");
                window.location.reload();
            }

            $.ajax({
                url:"{{ base_url('login/facebook') }}",
                data:{
                    fb_id:response.id,
                    userName:response.name,
                    firstName:response.first_name,
                    lastName:response.last_name,
                    email:response.email,
                    gender:response.gender,
                    picture:response.picture
                },
                dataType:"json",
                type:"post",
                success:function(data){
                    console.log(data);
                    window.location.href = data.href;
                }
            });
        }
	</script>
{% endblock %}