{% extends "layouts/front.twig" %}
{% block styles %}
    <style type="text/css">

    </style>
{% endblock %}
{% block content %}
	<section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- Account section start -->
    <section class="account-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="account-form-area">
                        <div class="account-heading"><h2><i class="fa fa-sign-in"></i>Login</h2></div>
                        <form action="{{ base_url('login/process') }}" id="login" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username or email address <span class="required">*</span></label>
                                <input type="text" spellcheck="false" placeholder="Email or username" class="form-control" id="input-email"  name="email" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password <span class="required">*</span></label>
                                <input spellcheck="false" type="password" name="password" value="" placeholder="Password"  class="form-control" id="input-password">
                            </div>
                            <div class="row" >
                        {% if error %}
						    <div class="alert alert-red error" style="color:red;">{{ error }}</div>
                        {% endif %}
                        </div>
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <!--div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div-->
                                <!--p class="mb-0"><a href="{{ base_url('login/forgotpassword') }}" class="lost-pass" data-toggle="modal" data-target="#forgotPassModal"><i class="fa fa-life-bouy"></i>Lost your password?</a></p-->
                            </div>
                            <input class="account-outline-btn login-btn" type="submit" value="LOGIN">
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="account-info-area">
                        <div class="account-heading text-center"><h2></i>Register</h2></div>
                        <div class="account-info"><p>Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</p></div>
                        <div class="text-center"><a href="{{ base_url('/registration') }}" class="comn-btn black-btn">Register</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade forgot-pass-modal add-address-modal" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="form-horizontal">
                    <div class="form-row pb-3">
                        <div class="form-group col-12">
                            <input type="text" name="first_name" class="form-control" id="inputEmail4" placeholder="Enter email">
                        </div>
                    </div>                        
                    <div class="form-group text-center">                        
                       <input type="submit" value="Save" class="comn-btn">
                        <button type="button" class="comn-btn black-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    </section>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
	<script>
        $(document).ready(function(){
            $("#login").validate({
            
                rules: {
                    email: {
                        required: true,
                        email: true
                    },      
                    password: {
                        required: true,
                    },
                },

                messages: {
                    email: {
                        required: "Email is required",
                    },     
                    password: {
                        required: "Password is required",
                    },
                },
            });
        });
	</script>
{% endblock %}