{% extends "layouts/front.twig" %}
{% block styles %}
	<style>
        .bodyFrame .pc .lineFrame {
            width: 1200px;
            min-height: 40px;
            position: relative;
        }
		h2, p {
			color: #a94442;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container-fluid bodyFrame">
        <div class="row pc checkoutApp">
        	<div class="lineFrame">
                <ul class="breadcrumb">
                    <li><a href="{{ base_url('/') }}"><i class="fa fa-home"></i> Home</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="lineFrame">
				<div class="alert alert-danger text-center">
					<h2>Your transaction has been failed.</h2>
					<p>Error: {{ payload.error_code }}</p>
				</div>
            </div>
        </div>
    </div>
{% endblock %}