{% extends "layouts/front.twig" %}
{% block content %}
    <div class="row pc">
        <div class="lineFrame">
            <ul class="breadcrumb">
                <li><a href="{{ base_url('/') }}"><i class="fa fa-home"></i></a></li>
                <li><a href="{{ base_url('account') }}">Account</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="lineFrame accountFrame">
            <div class="rightFrame">
                Hellooooo
            </div>
        </div>
    </div>
{% endblock %}