{% extends "layouts/front.twig" %}
{% block styles %}
   
{% endblock %}
{% block content %}
       <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    {% if data.success is not empty %}
                        <div class="alert alert-success">
                            <strong>Success! </strong>Successfully Submitted.
                        </div>
                    {% endif %}
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Countact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- contact section start -->
    <section class="contact-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="contact-form-area">
                        <div class="comn-dark-inner-heading"><h2>GET IN TOUCH WITH US</h2></div>
                         <form action="" id="contactUs" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Your Subject</label>
                                  
                                    <input type="text" name="subject" id="subject" placeholder="Enter subject" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Your Name</label>
                                    <input type="text" name="name" id="name" placeholder="Enter name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Your Email</label>
                                <input type="text" name="email" id="email" placeholder="Enter email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message">Your Message</label>
                               <textarea name="message" Placeholder="Message" id="messsage" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="comn-btn mt-4">SEND A MESSAGE</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="contact-detail-area">
                        <div class="comn-dark-inner-heading"><h2>INFORMATION ABOUT US</h2></div>
                        <div class="comn-info-box mb-4">
                            <p>BAFREDO Electronics is the Private Limited Company that was registered and licensed in Tanzania by BRELA (Business Registrations and Licencing Agency) under the Tanzania Companies Act of 2002. The Company, incorporated on 22 September 2015 and given the Registration ID 120435, deals with a range of activities in the fields of Electronics Science and Engineering. We are professional scientists and engineers,and have strong desires to deliver..<a target="_blank" href="{{base_url('/page/about-us')}}">Read More</a></p>
                            </p>
                        </div>
                        <div class="comn-dark-inner-heading"><h2>CONTACT US</h2></div>
                        <ul class="contact-list-box">
                            <li class="contact-list">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-item">Tel: 255 (0) 746 624 875</span>
                                    <span class="contact-item">E-Mail: info@bafredo.com</span>
                                </div>
                            </li>
                            <li class="contact-list">
                                <div class="contact-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-item">BAFREDO Electronic values your precious time.</span>
                                </div>
                            </li>
                            <li class="contact-list">
                                <div class="contact-icon">
                                    <i class="fa fa-send-o"></i>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-item">24/7 Support</span>
                                   <!--  <span class="contact-item">for over 24h</span> -->
                                </div>
                            </li>
                            <li class="contact-list">
                                <div class="contact-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="contact-info">
                                    <span class="contact-item">Fast shipping and delivery methods.</span>
                                </div>
                            </li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section end -->

    <!-- map-section start -->
    <section class="map-section">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15847.390813209326!2d39.2093687!3d-6.7883799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa54079e95134dc55!2sBAFREDO+Electronics!5e0!3m2!1sen!2stz!4v1549870603123" width="100%" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
    </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script>
$(document).ready(function(){
  $("#contactUs").validate({
    // Specify validation rules
    rules: {
      subject: "required",
      name: "required",
      email: {
        required: true,
        email: true
      },      
      message: {
        required: true,
      },
    },
    messages: {
      subject: {
      required: "Subject is required",
     },      
     name: {
      required: "Name is required",
     },     
     email: {
      required: "Email is required",
     },     
     message: {
        required: "Message is required",
     },
    },
  
  });
});
</script>
{% endblock %}