{% extends "layouts/front.twig" %}
{% block styles %}
   
{% endblock %}
{% block content %}
       <!-- banner breadcrumb section start -->  
   <div id="bodyupdate" class="container-fluid bodyFrame">
	   	<section class="breadcrumb-section">
	        <div class="container">
	            <div class="row">
	            	<div class="col-12 col-md-12">
	            		<div class="breadcrumb-area">
	            			<nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
	            				<ol class="breadcrumb">
	            					<li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li> <li aria-current="page" class="breadcrumb-item active">How to buy</li>
	            				</ol>
	            			</nav>
	            		</div>
	            	</div>
	            </div>
	        </div>
	    </section>

	    <!-- banner breadcrumb section end -->

	    <!-- about-us section start -->
	    <section class="about-us-section py-5">
	        <div class="container pt-4">
	            <div class="row pb-5">                
	                <div class="col-md-12">                
	                    <div class="about-content-box">
	                         
	                        <div class="comn-info-box">
	                            Welcome to BAFREDO Electronics, department of sales. To simplify the process of purchasing components, we have created for you easy steps that you can follow. And, in case you desire to monitor your orders or track your shipment, we encourage you to create an account with us. Kindly note that creating an account is free, and is only provided to help you manage your purchases and/or keep your previous order details.Now, for demonstration purposes, assume that you want to purchase Arduino UNO R3, and that Mozilla Firefox is your default browser. Because the platform has many items, you may find our search tool useful.
	                        </div>
	                    </div>
	                </div>
	                
	            </div>
	            
	        </div>
	    </section>
	    <!-- about-us section end -->

	    <!-- about-featured-services-section start -->
	    <section class="about-featured-services-section pb-5">
	        <div class="container">
	            <div class="comn-section-heading">
	                <h2>Procedures to purchase items</h2>
	               
	            </div>
	            <div class="row py-4">
	                <div class="col-12">
	                	<div class="steps-to-buy">
	                     <h4>Step 1</h4>
							<p>
							Type the name of your desired component, Arduino UNO R3 in this case, in the search box at the top of the page.

							</p>

							<p>Then click the search button to list the details of your selected component. Note that other related components may appear as well in the list.</p>



							<h4>Step 2</h4>
							</p>
							You may need to further click the component and see its descriptions and additional details before making decisions regarding the purchase.</p>



							<p>Assuming that you are satisfied with the component, please go ahead and edit a little box, which is beside the component, with a number that represents the quantity of items you need. The increment-decrement arrows may assist you to quickly increase or decrease the number of items in the box. In this example, we have inserted 40 items, meaning that we desire to purchase 40 Arduino UNO R3.</p>



							<h4>Step 3</h4>
							<p>
							Thereafter, proceed by clicking the “Add to cart” green button and, near the top of the component, you will see a confirmation alert that the item has been added to the cart. You can confirm this information by comparing the initial and current statuses of the cart, which is located at the far top right corner of the page. In our case, the cart was empty initially and, after this step, the cart was populated with 40 items.</p>



							<h4>Step 4</h4>
							<p>
							You may repeat Steps 1 through 3 if you still need shopping. Otherwise, please visit the cart by clicking the cart-shaped icon at the top right corner of the page to confirm the items you added into the cart. Even at this stage, you have the opportunity to edit the items in the cart.</p>



							<h4>Step 5</h4>

							<p>Select the shipping method. Currently, we offer three ways to ship packages to customers depending on their locations:</p>

							<p>Flat rate, designed for local customers outside Dar es Salaam (but residing in Tanzania mainland). This method takes 2-3 days before the package reaches the destination. Before selecting this method, please note our Terms & Conditions for keeping customers’ packages in our stores.
							Free shipping, designed for customers who place their orders online but would like to pick their packages in our physical store. Before selecting this method, please note our Terms & Conditions for keeping customers’ packages in our stores.</p>
							On-site delivery, designed for customers in Dar es Salaam who desire our door-to-door service to receive their packages. With this method, the package may be delivered on the same day.</p>


							<h4>Step 6</h4>

							<p>After you have confirmed that all details in Step 5 are correct, please proceed to the checkout stage, which gives you an opportunity to pay for your order, by clicking the large green button “Proceed to checkout”. You will receive a page to complete your billing and shipping details.</p>



							<h4>Step 7</h4>

							<p>This is yet another important step that allows you to confirm several order details before payment. Kindly scroll down to the bottom of the page to confirm the grand total for your order; select the mode of payment; and, after you have read and accepted our Terms & Conditions, check the box against “I’ve read and accepted the Terms & Conditions”.

							</p>

							<h4>Step 8</h4>

							<p>You are almost done. Just click the bottom right green button “Place order” and we will immediately receive your order.</p>
							</p>


							<h4>Step 9</h4>

							<p>If all prompts from Step 1 to 8 are correct, congratulations! You will see a confirmation notice that your order has been placed.</p>
						</div>
	                </div>
	               
	            </div>
	        </div>
	    </section> 
    </div>
   
  
  

{% endblock %}