{% extends "layouts/front.twig" %}
{% block content %}
<div class="backTop" style="-moz-user-select: none;"><i class="iconfont icon-backtop"></i></div>
<div class="container-fluid bodyFrame">
  <div class="row hidden-xs pc">
	<div class="clear"></div>
	<div class="lineFrame blogTitle">
		<h1>Robopeak 2.8&quot; USB Touch Screen with Raspberry Pi</h1>
	</div>
	
	<div class="lineFrame blogAuthor">
			</div>
	
	<div class="lineFrame blogTag" style="border-bottom: 1px solid #c9c9c9;">
        		<div class="blogcatFrame">
                                                    <a title="TUTORIALS" class="blogCat c26select" href="blog.php">TUTORIALS</a>            		</div>
                	
                <div class="tags">
            							<a title="Robopeak" class="c0select" href="blog.php">Robopeak</a>
			            							<a title="USB Touch Screen" class="c0select" href="#">USB Touch Screen</a>
			            							<a title="2.8&quot;" class="c0select" href="#">2.8&quot;</a>
			            							<a title="Raspberry Pi" class="c0select" href="#">Raspberry Pi</a>
			            							<a title="DFR0319" class="c0select" href="#">DFR0319</a>
			            							<a title="DFR0275" class="c0select" href="#">DFR0275</a>
			                    </div>
        	</div>
	
	<div class="lineFrame">
		<div class="left">
			<div class="blogCon">
				<p align="left">Today I got a 2.8" USB&nbsp;Touch Screen by&nbsp;<a href="http://www.robopeak.com/">Robopeak</a>, which is a low cost USB&nbsp;display module. By taking the advantage of the USB, this product can be directly powered and be easily connected with the different kinds of&nbsp;Mini-PCs such as Raspberry-pi, Cubieboard(I/II/III), pcDuino, routers with USB and this&nbsp;like. The tutorial by Robopeak is really detailed. Thus following it, it will be conveniently to get start with.</p>

<h4 align="left">Tools needed:<br>
<br>
<span style="line-height: 1.2; font-size: 13px;">Hardware:</span></h4>
<a href="product-1062.html">2.8” USB TFT Display Module For Raspberry Pi</a><br>
<a href="product-770.html">Micro USB Cable</a><br>
8G or above SD Card<br>
SD Card Reader<br>
<br>
<span style="line-height: 1.2; font-size: 13px;">Software:</span><br>
<a href="http://sourceforge.net/projects/win32diskimager/">Win32 Disk Imager</a><br>
<a href="http://www.robopeak.com/docs/doku.php?id=product-rpusbdisp-downloads">Prebuilt Firmwares Web Page</a> or <a href="http://ubuntuone.com/2z0EF5UhzhlekotW8EjGre">directly download the version for Raspberry PI</a><br>
<a href="http://www.7-zip.org/">7Zip<br>
<br>
<span style="line-height: 1.2; color: rgb(51, 51, 51); font-size: 13px;">Documents:</span></a><br>
<a href="http://image.dfrobot.com/image/data/DFR0275/RPUD02-rpusbdisp_usermanual-enUS.1.0.pdf">User Manual</a>

<h5><br>
Let’s get start with Raspberry-Pi:</h5>
Download the three softwares above and following the illustration below :

<div style="text-align:center"><img src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/1_modify.png" style="width: 654px;"><br>
<img src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/2-4.png" style="width: 597px;"><br>
<img src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/3-33.png" style="width: 670px;"><br>
<img src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/5-13.png" style="width: 425px;"><br>
<img src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/7-7.png" style="width: 427px;"><br>
</div>
<br>
&nbsp; After that, connect the USB Touch LCD to the&nbsp;Raspberry Pi and power it. It will take about 20 seconds to lighten the LCD. Enjoy this product~~<br>
&nbsp;
<div style="text-align:center"><img alt="2.8 lcd picture" class="aligncenter size-large wp-image-8928" height="540" src="assets/image/Blog/Robopeak%202.8%e2%80%9c%20USB%20Touch%20Screen%20with%20Raspberry%20Pi/2.8-lcd-picture-1024x768.jpg" width="600"></div>
			</div>
			<div class="share">
				<!-- AddThis Button BEGIN -->
	            <div class="addthis_toolbox addthis_default_style" data-url="<b>Notice</b>: Undefined variable: share in <b>/data/wwwroot/dfrobotcomv3/catalog/view/theme/default/template/DFblog/article_detail/default.tpl</b> on line <b>63</b>"><a rel="nofollow" class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a rel="nofollow" class="addthis_button_tweet"></a> <a rel="nofollow" class="addthis_button_pinterest_pinit"></a> <a rel="nofollow" class="addthis_counter addthis_pill_style"></a></div>
	            <script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
	            <!-- AddThis Button END -->
			</div>
			<div class="disqusFrame">
				<h4>REVIEW</h4>
				<!--disqus b egin-->
		        		        <div id="disqus_thread" style="width: 100%;"></div>
		        		        <!--disqus end-->
			</div>
		</div>
		<div class="right">
			<div class="bestproduct">
							</div>
			<div class="rproductFrame">
				            	<div class="clear"></div>
            	<h3>Recent Blogs</h3>
            	
  
      	<div class="blog_lists">
										<div class="post">
		        <a title="https://image/cache/Blog/AIK13/microbit7/TIM截图20190327150857-380x252.png" href="blog.php">
		        	<img alt="POV Display Using SPRESENSE" src="assets/image/cache/Blog/AIK13/microbit7/TIM%e6%88%aa%e5%9b%be20190327150857-380x252.png">
		        </a>
		        <div class="post-title">
		            <a title="POV Display Using SPRESENSE" href="blog.php">POV Display Using SPRESENSE</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="category-projects.html">PROJECTS</a>
															<a title="arduino tutorial" class="tag" href="#">arduino tutorial</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-27 06:49:21</div>
		    </div>
								<div class="post">
		        <a title="https://image.dfrobot.com/image/cache/Blog/AIK13/microbit9/dsc_0215_3bTmjLqKCL-380x252.jpg" href="blog.php">
		        	<img alt="How to Make a Makerspace NFC Part Management System" src="assets/image/cache/Blog/AIK13/microbit9/dsc_0215_3bTmjLqKCL-380x252.jpg">
		        </a>
		        <div class="post-title">
		            <a title="How to Make a Makerspace NFC Part Management System" href="blog.php">How to Make a Makerspace NFC Part Management System</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="category-projects.html">PROJECTS</a>
															<a title="NFC" class="tag" href="blog.php">NFC</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-27 06:04:47</div>
		    </div>
								<div class="post">
		        <a title="https://image.dfrobot.com/image/cache/Blog/AIK13/microbit9/_20190326182416-380x252.png" href="blog.php">
		        	<img alt="IoT Weather Monitor ePaper Display" src="assets/image/cache/Blog/AIK13/microbit9/_20190326182416-380x252.png">
		        </a>
		        <div class="post-title">
		            <a title="IoT Weather Monitor ePaper Display" href="blog.php">IoT Weather Monitor ePaper Display</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="#">PROJECTS</a>
															<a title="esp32" class="tag" href="blog.php">esp32</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-26 10:16:57</div>
		    </div>
								<div class="post">
		        <a title="https://image.dfrobot.com/image/cache/Blog/AIK13/microbit9/_20190326181329-380x252.png" href="blog.php">
		        	<img alt="LoRa ESP32 Radios - Easy Getting Started Tutorial" src="assets/image/cache/Blog/AIK13/microbit9/_20190326181329-380x252.png">
		        </a>
		        <div class="post-title">
		            <a title="LoRa ESP32 Radios - Easy Getting Started Tutorial" href="blog.php">LoRa ESP32 Radios - Easy Getting Started Tutorial</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="category-projects.html">PROJECTS</a>
															<a title="esp32" class="tag" href="blog.php">esp32</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-26 09:56:10</div>
		    </div>
								<div class="post">
		        <a title="https://image.dfrobot.com/image/cache/Blog/AIK14/Christmas Light/dsc_0345_Mf3ZTbDL9U-380x252.jpg" href="blog.php">
		        	<img alt="How to make a ESP32 Fall Detector" src="assets/image/cache/Blog/AIK14/Christmas%20Light/dsc_0345_Mf3ZTbDL9U-380x252.jpg">
		        </a>
		        <div class="post-title">
		            <a title="How to make a ESP32 Fall Detector" href="blog.php">How to make a ESP32 Fall Detector</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="category-projects.html">PROJECTS</a>
															<a title="esp32 projects" class="tag" href="blog.php">esp32 projects</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-26 09:47:46</div>
		    </div>
								<div class="post">
		        <a title="https://image.dfrobot.com/image/cache/Blog/AIK13/microbit9/F4K4PVTJTEN8WCU-380x252.jpg" href="blog-1230.html">
		        	<img alt="IoT Based Fingerprint Attendance System Using Evive" src="assets/image/cache/Blog/AIK13/microbit9/F4K4PVTJTEN8WCU-380x252.jpg">
		        </a>
		        <div class="post-title">
		            <a title="IoT Based Fingerprint Attendance System Using Evive" href="blog.php">IoT Based Fingerprint Attendance System Using Evive</a>
		        </div>
		        <div class="post_category">
		            					<a title="PROJECTS" class="b24" href="category-projects.html">PROJECTS</a>
															<a title="arduino tutorial" class="tag" href="blog.php">arduino tutorial</a>
							        </div>
		        <div class="clear"></div>
		        <div class="date-published">2019-03-26 03:49:33</div>
		    </div>
					</div>
	
		
  
              	<div class="clear"></div>
	            	            <div class="clear"></div>
			</div>
		</div>
	</div>
	
	<div class="lineFrame">
		
	</div>
	<div class="clear"></div>
	<div class="lineFrame">
		    <script type="text/javascript">	
        var disqus_shortname = 'dfrobot';
					var disqus_disable_mobile = true;
					       (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <style type="text/css">
            </style>
	</div>
  </div>
  
  <div class="visible-xs mobile">
  	<div class="lineFrame blogTitle">
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame blogAuthor">
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame blogTag">
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame blogCon">
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="share">
			<!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style" data-url="<b>Notice</b>: Undefined variable: share in <b>/data/wwwroot/dfrobotcomv3/catalog/view/theme/default/template/DFblog/article_detail/default.tpl</b> on line <b>123</b>"><a rel="nofollow" class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a rel="nofollow" class="addthis_button_tweet"></a> <a rel="nofollow" class="addthis_button_pinterest_pinit"></a> <a rel="nofollow" class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            <!-- AddThis Button END -->
		</div>
		<div class="disqusFrame">
			<h4>REVIEW</h4>
			<!--disqus b egin-->
	        	        <div id="disqus_thread" style="width: 100%;"></div>
	        	        <!--disqus end-->
		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame rproductFrame">
  		
  	</div>
  	<div class="clear"></div>
  </div>
</div>
{% endblock %}