{% extends "layouts/front.twig" %}
{% block content %}

    <div class="backTop"><i class="iconfont icon-backtop"></i></div>
    <div class="container-fluid bodyFrame">
        <div class="row hidden-xs pc">
            <div class="lineFrame">
                <ul class="breadcrumb">
                    <li><a title="Home" href="index.html">Home</a></li>
                    <li><a title="Arduino" href="category-35.html">Arduino</a></li>
                </ul>
            </div>

            <div class="lineFrame ctgInfo">
                <div class="title">
                    <h1>Arduino</h1>
                </div>
                <div class="des">
                    Provides 500+ Arduino Products including Arduino Uno,Mega,Wifi,M0,101,Arduino Shields, Arduino
                    Sensors and Arduino kits
                </div>
                <img src="<?php echo $app_url; ?>assets/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                     alt="Arduino" title="Arduino"/>
            </div>
            <div class="lineFrame tagFrame">
                <div class="tags">
                    <a title="Arduino Accessories" href="category-62.html">Arduino Accessories</a>
                    <a title="Arduino Kits" href="category-49.html">Arduino Kits</a>
                    <a title="Arduino Microcontrollers" href="category-104.html">Arduino Microcontrollers</a>
                    <a title="Arduino Shields" href="category-124.html">Arduino Shields</a>
                </div>
                <div class="sort">
					<span style="display: none;">
						<select id="input-limit" onchange="location = this.value;">
																			<option value="https://www.dfrobot.com/category-35.html?limit=16"
                                                                                    selected="selected">16</option>
																									<option value="category-356195.html?limit=25">25</option>
																									<option value="category-353204.html?limit=50">50</option>
																									<option value="category-358538.html?limit=75">75</option>
																									<option value="category-35a03f.html?limit=100">100</option>
																		</select>
					</span>
                    <span class="t" style="display: none;">Num:</span>
                    <span>
						<select id="input-sort" onchange="location = this.value;">
																			<option value="https://www.dfrobot.com/category-35.html?sort=p.sort_order&amp;order=ASC"
                                                                                    selected="selected">Default</option>
																									<option value="category-353631.html?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
																									<option value="category-35f933.html?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
																									<option value="category-35b721.html?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
																									<option value="category-3544ca.html?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
																									<option value="category-35950c.html?sort=p.model&amp;order=ASC">Model (A - Z)</option>
																									<option value="category-35942a.html?sort=p.model&amp;order=DESC">Model (Z - A)</option>
																		</select>
					</span>
                    <span class="t">Sort by:</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="lineFrame">
                <div class="productList">
                    <ul class="fullmode">
                        <li data-djs="">
                            <div class="img">
                                <a title="USBtinyISP-Arduino bootloader programmer" href="product-405.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0116/53AU4081-285x190.jpg"
                                         alt="USBtinyISP-Arduino bootloader programmer"
                                         title="USBtinyISP-Arduino bootloader programmer" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="USBtinyISP-Arduino bootloader programmer" href="product-405.html">
                                    USBtinyISP-Arduino bootloader programmer </a>
                                <span class="des">Introduction

	This is a USB AVR programmer supported by offical Arduino IDE. Once the Arduino has lost its bootloader for some reasons, use this programmer to reburn the bootloader and save the dead Arduino.

	This programmer works really well for ATmega168 and ATmega328 and should work with all the AVR micros supported by AVRDUDE. &nbsp;Both 10-pin and 6-pin targets supported (cable included) ..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $14.05 </b>
                                <span class="sk">
									SKU:DFR0116							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('405');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('405',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="2x1A DC Motor Shield  for Arduino" href="product-59.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DRI0001/20140723/_DSC0853-285x190.jpg"
                                         alt="2x1A DC Motor Shield  for Arduino"
                                         title="2x1A DC Motor Shield  for Arduino" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="2x1A DC Motor Shield  for Arduino" href="product-59.html">
                                    2x1A DC Motor Shield for Arduino </a>
                                <span class="des">
	Introduction

	This DC Motor shield &nbsp;for Arduino uses L293 chip which allow to drive two 7-12V DC motors with maximum 1A current each channel. This shield can be directly stacked on standard Arduino Uno and Arduino Mega.&nbsp;

	  JavaScript display

	  function display(){
		  var div1 = document.getElementById("div1");
		  if(div1.style.display=="none"){
			  div1.style.d..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $9.90 </b>
                                <span class="sk">
									SKU:DRI0001							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('59');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('59',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Beetle ESP32 Microcontroller" href="product-1798.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0575/DFR0575-285x190.jpg"
                                         alt="Beetle ESP32 Microcontroller" title="Beetle ESP32 Microcontroller"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Beetle ESP32 Microcontroller" href="product-1798.html">
                                    Beetle ESP32 Microcontroller </a>
                                <span class="des">Introduction
	Is FireBeetle-ESP32 too big for your projects? Why not try our newly launched Beetle-ESP32. This Beetle-ESP32 Microcontroller of 1.38”×1.34”small size is a simplified version of FireBeetle-ESP32 and specially designed for electronic engineering fans and DIY lovers. It is equipped with 4 analog ports, 4 digital ports, UART and I2C interfaces, which would be a perfect replacement of Fi..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $14.90 </b>
                                <span class="sk">
									SKU:DFR0575							</span>
                                <span class="sk">
									Out Of Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1798');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1798',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="EcoDuino -  An Auto Planting Kit" href="product-641.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/KIT0003/170904Update/KIT0003-6W4A7208-285x190.jpg"
                                         alt="EcoDuino -  An Auto Planting Kit" title="EcoDuino -  An Auto Planting Kit"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="EcoDuino -  An Auto Planting Kit" href="product-641.html">
                                    EcoDuino - An Auto Planting Kit </a>
                                <span class="des">Introduction


	EcoDuino is evolving. &nbsp;Now the EcoDuino has a new enclosure. It is protected from water splashes, so it is safe to use beside your plants.&nbsp;The EcoDuino now sports an Atmega32U4 which eliminates the requirement of an adapter. &nbsp;And sketches can simply uploaded via &nbsp;Micro USB just like Arduino Leonardo. &nbsp;Another improvement is that the&nbsp;DS18B20&nbsp;sens..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $53.90 </b>
                                <span class="sk">
									SKU:KIT0003							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('641');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('641',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="FireBeetle ESP32 IOT Microcontroller (Supports Wi-Fi &amp; Bluetooth)"
                                   href="product-1590.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0478/190218Update/DFR0478-285x190.jpg"
                                         alt="FireBeetle ESP32 IOT Microcontroller (Supports Wi-Fi &amp; Bluetooth)"
                                         title="FireBeetle ESP32 IOT Microcontroller (Supports Wi-Fi &amp; Bluetooth)"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="FireBeetle ESP32 IOT Microcontroller (Supports Wi-Fi &amp; Bluetooth)"
                                   href="product-1590.html">
                                    FireBeetle ESP32 IOT Microcontroller (Supports Wi-Fi &amp; Bluetooth) </a>
                                <span class="des">Introduction
	DFRobot FireBeetle series is the low-power consumption micro-controller intentionally designed for Internet of Things (IoT) projects. FireBeetle Board - ESP32 integrates a Dual-Core ESP-WROOM-32 module, which supports MCU and Wi-Fi &amp;Bluetooth dual-mode communication. The electric current is just 10μA in the deep-sleep mode. The main controller supports two power supply methods: U..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $19.00 </b>
                                <span class="sk">
									SKU:DFR0478							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1590');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1590',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0265/20140709/_DSC0699-285x190.jpg"
                                         alt="Gravity IO Expansion Shield for Arduino V7.1"
                                         title="Gravity IO Expansion Shield for Arduino V7.1" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
                                    Gravity IO Expansion Shield for Arduino V7.1 </a>
                                <span class="des">Introduction
	IO Expansion shield is one of the market favourites. Fast robotics prototyping made affordable and simple thanks to this design. Soldering and wiring often becomes a problem when a bridged connection happens and components break. Increasing time and cost for projects. Often, without this solution and a soldering station, wire cripping tools or soldering station, robot prototyping or..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $8.90 </b>
                                <span class="sk">
									SKU:DFR0265							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1009');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1009',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Input Shield for Arduino" href="product-62.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0008/53AU4253-285x190.jpg"
                                         alt="Input Shield for Arduino" title="Input Shield for Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Input Shield for Arduino" href="product-62.html">
                                    Input Shield for Arduino </a>
                                <span class="des">Introduction
	The upgraded Arduino Input Shield includes a two axis mini joystick (with moment switch) as well as four colored push buttons(Red,Yellow,Blue,Green). The reserved APC220 Radio Data Module(SKU:TEL0005) interface and the Xbee interface is deisgned to facilitate the realization of wireless rocker button controller. The shield can be easily stacked on top of your Arduino boards. It can ..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $9.90 </b>
                                <span class="sk">
									SKU:DFR0008							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('62');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('62',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Mega Prototyping Shield for Arduino Mega Due" href="product-60.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0016/20140709/_DSC0019-285x190.jpg"
                                         alt="Mega Prototyping Shield for Arduino Mega Due"
                                         title="Mega Prototyping Shield for Arduino Mega Due" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Mega Prototyping Shield for Arduino Mega Due" href="product-60.html">
                                    Mega Prototyping Shield for Arduino Mega Due </a>
                                <span class="des">Introduction

	This is a design for an open-source prototyping shield for Arduino Mega. It has tons of cool features, to make prototyping on your Arduino easy. Some assembling and soldering is required!Some assembling and soldering is required!

	Features


		Reset button up top&nbsp;
		Lots of GND and +5V rails&nbsp;
		DIP prototyping area makes it easy to add more chips

	&nbsp;

	Compatib..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $6.80 </b>
                                <span class="sk">
									SKU:DFR0016							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('60');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('60',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Prototyping Shield for Arduino" href="product-55.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0019/_W4A0785-285x190.jpg"
                                         alt="Prototyping Shield for Arduino" title="Prototyping Shield for Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Prototyping Shield for Arduino" href="product-55.html">
                                    Prototyping Shield for Arduino </a>
                                <span class="des">Introduction

	This is the very first prototyping shield for Arduino in the market since 2010. &nbsp;It comes with prototyping area that you can sold led , switch or other components, &nbsp;it also comes with a mini Arduino breadboard that can stick on the prototyping shield that make the project look tidy and fancy. &nbsp;The working area of this protoshield has&nbsp;DIP prototyping area sutiab..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $11.00 </b>
                                <span class="sk">
									SKU:DFR0019							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('55');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('55',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Screw Shield for Arduino" href="product-71.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0060/update2-285x190.jpg"
                                         alt="Screw Shield for Arduino" title="Screw Shield for Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Screw Shield for Arduino" href="product-71.html">
                                    Screw Shield for Arduino </a>
                                <span class="des">Introduction
	The &nbsp;Arduino-Compatible Screw Shield is a terminal expansion board that can be screwed directly to the terminal on the thread and is reliable and convenient. It can be plugged into the Arduino controller. You can use this shield to save yourself from the bad port connection. Feel secure with this arduino-compatible screw shield.
	Shipping List

		Screw Shield x2

	Documents ..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $7.50 </b>
                                <span class="sk">
									SKU:DFR0060							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('71');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('71',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="Xbee Shield for Arduino" href="product-61.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0015/20140708/_DSC0307-285x190.jpg"
                                         alt="Xbee Shield for Arduino" title="Xbee Shield for Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="Xbee Shield for Arduino" href="product-61.html">
                                    Xbee Shield for Arduino </a>
                                <span class="des">Introduction


	The Arduino XBee shield is designed to meet &nbsp;wireless sensor networks such as wifi, bluetooth 2.0/4.0 and zigbee.&nbsp;The module is easy to use, low power consumption, and the provision of critical data between devices reliable transmission.&nbsp;This xbee shield for arduino can be directly stack on top of Arduino Uno / Leonardo and Mega. It provides a 5-3.3V voltage conver..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $10.80 </b>
                                <span class="sk">
									SKU:DFR0015							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('61');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('61',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="2.8&quot; TFT Touch Shield with 4MB Flash for Arduino and mbed"
                                   href="product-1264.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video="image/videos/DFR0347.mp4"
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0347/_DSC0146-285x190.jpg"
                                         alt="2.8&quot; TFT Touch Shield with 4MB Flash for Arduino and mbed"
                                         title="2.8&quot; TFT Touch Shield with 4MB Flash for Arduino and mbed"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="2.8&quot; TFT Touch Shield with 4MB Flash for Arduino and mbed"
                                   href="product-1264.html">
                                    2.8&quot; TFT Touch Shield with 4MB Flash for Arduino and mbed </a>
                                <span class="des">Introduction Add some flavor to your Arduino / mbed project with this large colorful touch screen. This TFT Touch screen is a fantastic shield with big (2.8" diagonal) and 240x320 pixels with individual pixel control which could apply to Arduino and mbed. It also comes with micro SD slot and 4MB flash so you could add it easily to your projects with this 2.8" TFT Touch screen.Pantalla táctil de 2...</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $46.90 </b>
                                <span class="sk">
									SKU:DFR0347							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1264');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1264',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="2x2A DC Motor Shield for Arduino" href="product-69.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DRI0009/53AU4096-285x190.jpg"
                                         alt="2x2A DC Motor Shield for Arduino" title="2x2A DC Motor Shield for Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="2x2A DC Motor Shield for Arduino" href="product-69.html">
                                    2x2A DC Motor Shield for Arduino </a>
                                <span class="des">Introduction

	Arduino product family is a great learning platform for electronics, programming and robotics. But most projects at some point require mobility. This Arduino motor shield allows for motor control with Arduino right away. Stack up this shield on your controller and drive 2 DC motors with &nbsp;higher power requirements. Depending on the motor of choice, you can make it fast or handl..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $16.50 </b>
                                <span class="sk">
									SKU:DRI0009							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('69');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('69',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="3.5&quot; TFT Resistive Touch Shield with 4MB Flash for Arduino and mbed"
                                   href="product-1268.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0348/_DSC0153-285x190.jpg"
                                         alt="3.5&quot; TFT Resistive Touch Shield with 4MB Flash for Arduino and mbed"
                                         title="3.5&quot; TFT Resistive Touch Shield with 4MB Flash for Arduino and mbed"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="3.5&quot; TFT Resistive Touch Shield with 4MB Flash for Arduino and mbed"
                                   href="product-1268.html">
                                    3.5&quot; TFT Resistive Touch Shield with 4MB Flash for Arduino and mbed </a>
                                <span class="des">Introduction
	Add some flavor to your Arduino / mbed project with this large colorful touch screen. This TFT Touch screen for Arduino is a fantastic shield with big (3.5" diagonal) and 240x320 pixels with individual pixel control which could apply to Arduino and mbed. It also comes with micro SD slot and 4MB flash so you could add it easily to your projects with this 3.5" TFT Touch screen.
	 Spec..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $82.00 </b>
                                <span class="sk">
									SKU:DFR0348							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1268');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1268',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="315Mhz RF Shield For Arduino" href="product-1089.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/TEL0075/IMG_01126-285x190.jpg"
                                         alt="315Mhz RF Shield For Arduino" title="315Mhz RF Shield For Arduino"
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="315Mhz RF Shield For Arduino" href="product-1089.html">
                                    315Mhz RF Shield For Arduino </a>
                                <span class="des">Introduction

	This is an Arduino RF shield that works under 315Mhz. &nbsp;315M hz is widely applied in areas like vehicle monitoring, remote control, home security system, wireless meter reading, guard monitor system, industrial data acquisition system, wireless tag, identification, non-contact RF card, small wireless data terminals, fire safety systems, wireless remote control system, biologica..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $6.80 </b>
                                <span class="sk">
									SKU:TEL0075							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1089');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1089',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                        <li data-djs="">
                            <div class="img">
                                <a title="7 Segment LED Keypad Shield For Arduino" href="product-1407.html">
                                    <img data-image="https://image.dfrobot.com/image/cache/data/2016NewWebsite/Arduino-914x85.png"
                                         data-video=""
                                         src="<?php echo $app_url; ?>assets/image/cache/data/DFR0382/_W4A9448-285x190.jpg"
                                         alt="7 Segment LED Keypad Shield For Arduino"
                                         title="7 Segment LED Keypad Shield For Arduino" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="title">
                                <a title="7 Segment LED Keypad Shield For Arduino" href="product-1407.html">
                                    7 Segment LED Keypad Shield For Arduino </a>
                                <span class="des">Introduction
	 This 7 segment LED Keypad Shield is an Arduino LCD Shield with a 4 digit 7 segment digital tube display (common cathode). It has 5 buttons that can be used as menu select buttons or control buttons, using I2C to drive the digital tube for an easy user experience.

	 Specification


		Arduino compatible
		Working voltage: 5V
		4 digit 8 segment common cathode digital tube (0.56 i..</span>
                            </div>
                            <div class="btns">
                                <b class="price">
                                    $8.90 </b>
                                <span class="sk">
									SKU:DFR0382							</span>
                                <span class="sk">
									In Stock							</span>


                                <span class="c">
																		<button class="addcart" type="button"
                                                                                onclick="cart.add('1407');">
											<i class="iconfont icon-cart"></i>Add to Cart
										</button>

																		<button class="wishlistli on" type="button"
                                                                                onclick="wishlist.add('1407',$(this));">
											<div class="oncon"><i class="iconfont icon-hart"></i></div>
											<div class="offcon"><i class="iconfont icon-hart2"></i></div>
										</button>
																</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="lineFrame" style="display: none;">
                <div class="col-sm-6 text-left">
                    <ul class="pagination">
                        <li class="active"><span>1</span></li>
                        <li><a href="category-354658.html?page=2">2</a></li>
                        <li><a href="category-359ba9.html?page=3">3</a></li>
                        <li><a href="category-35fdb0.html?page=4">4</a></li>
                        <li><a href="category-35af4d.html?page=5">5</a></li>
                        <li><a href="category-35c575.html?page=6">6</a></li>
                        <li><a href="category-35235c.html?page=7">7</a></li>
                        <li><a href="category-35fdfa.html?page=8">8</a></li>
                        <li><a href="category-350b08.html?page=9">9</a></li>
                        <li><a href="category-354658.html?page=2">&gt;</a></li>
                        <li><a href="category-351c8b.html?page=11">&gt;|</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">Showing 1 to 16 of 162 (11 Pages)</div>
            </div>
        </div>

        <div class="visible-xs mobile">
            <div class="lineFrame ctgInfo">

            </div>
            <div class="lineFrame tagFrame">

            </div>
            <div class="clear"></div>
            <div class="lineFrame">
                <div class="productList categoryList">

                </div>
            </div>
        </div>

    </div>

{% endblock %}