{% extends "layouts/front.twig" %}
{% block content %}
<div class="container">
  <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="index1add.html?route=information/information&amp;information_id=15">Guide for post your project on DFRobot's community</a></li>
      </ul>
  <div class="row">                <div id="content" class="col-sm-12">      <h1>Guide for post your project on DFRobot's community</h1>
      <p>
	&nbsp;</p>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">Edit the title and text of your project.</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center; ">
	<span style="font-size:14px;">图<img alt="" src="<?php echo $app_url; ?>assets/image/data/Common/1.1.jpg" style="width: 600px; height: 534px; " /></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">What the text includes are description of your project, pictures, codes , hardwares list and procedures. Video is optional, but if you want to add a video , that's great! Copy the video's codes into "Html interface".</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center; ">
	<span style="font-size:14px;"><img alt="" src="<?php echo $app_url; ?>assets/image/data/Common/2.jpg" /></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">In additon, remember to take a picture of your user ID together with your project to confirm you are the original developer.&nbsp;</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">Do not forget to select the category, tags/key words(more than three) and the theme/fearture image(500x500).</span></div>
<div>
	&nbsp;</div>
<div style="text-align: center; ">
	<span style="font-size: 14px;"><img alt="" src="<?php echo $app_url; ?>assets/image/data/Common/4.jpg" style="width: 398px; height: 752px; " /></span></div>
<div>
	&nbsp;</div>
<div style="text-align: center; ">
	<span style="font-size:14px;"><img alt="" src="<?php echo $app_url; ?>assets/image/data/Common/5...jpg" style="width: 400px; height: 345px; " /></span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">Finish all of this, save and post your project. You will see it on the DFRobot's community.</span></div>
<div>
	&nbsp;</div>
<div>
	<span style="font-size:16px;">Good luck for every participant!</span></div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
</div>
    </div>
</div>
{% endblock %}