 <?php include 'header.php';?>
<script type="text/javascript">
	$(document).ready(function(){
		$(document).ready(function(){
			var pageKey = "prduct";
			$.pc({type:"init",page:pageKey});
		});
	});
</script>
<div class="container-fluid bodyFrame">
  <div class="row hidden-xs pc">
  	<div class="lineFrame">
		<ul class="breadcrumb">
		    		    <li><a title="Home" href="index.html">Home</a></li>
		    		    <li><a title="Prototyping Shield for Arduino" href="product-55.html">Prototyping Shield for Arduino</a></li>
		    	  	</ul>
	</div>
	<div class="clear"></div>
	<div class="lineFrame">
		<div class="productNavFrame">
	  		<h3>Prototyping Shield for Arduino</h3>
	  			  		
	  			        <div class="price" data-baseprice="$11.00">
	  				            <p>$11.00</p>
	            	
	  		</div>
				  		
	  		
	  			  		<div class="info_stock" style="line-height: 10px;">
	  			In Stock	  		</div>
	  		<div style="font-size: 12px;">
		        		        Price in reward points: 1100		        	  		</div>
	  		
	        <div class="quantity">
		        		        <div class="title">
		        	<b>QTY</b>
			        <span>DISCOUNTS</span>
		        </div>
		        <div class="clear"></div>
			    <div class="list">
			    	<ul>
			        			        	<li>
			        		<b>2-4</b>
			        		<span>$10.80</span>
			        	</li>
			        			        	<li>
			        		<b>5-9</b>
			        		<span>$10.60</span>
			        	</li>
			        			        	<li>
			        		<b>10+</b>
			        		<span>$10.00</span>
			        	</li>
			        			        </ul>
			    </div>
		        		        <div class="clear"></div>
		        <div class="qtyNum">
		  			<label class="control-label" for="input-quantity">Qty</label>
		            <input class="productQty" type="number" name="quantity" value="1" data-min="1" data-max="0"/>
		            <div>
		            		            </div>
		  		</div>
	        </div>
	  		
	  		<div class="opations">
	  				  		</div>
	  		
	        	        <button type="button" class="buyBtn">BUY IT NOW</button>
			<button type="button" class="addCartBtn" data-pid="55">ADD TO CART</button>
							
			<div class="fastDoumentJump">
				<hr></hr>
				<a rel="nofollow" data-id="info_INTRODUCTION" href="javascript:;">INTRODUCTION</a>
				<a rel="nofollow" data-id="info_DOCUMENTS" href="javascript:;">DOCUMENT</a>
				<a rel="nofollow" data-id="tutorial" href="javascript:;">TUTORIAL</a>
			</div>
	  		<div class="clear"></div>
	  		<div class="backTop">
	  			BACK TO TOP
	  		</div>
	  		<div class="clear"></div>
	  	</div>
		
		
		<div class="productLineFrame">
			<div class="thumbFrame">
						        		    	<div class="thumbShow">
		    		<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
		    			<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0019/_W4A0785-450x300.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
		    		</a>
		    	</div>
		        <div class="thumbNav">
		        	<span class="l"><i class="iconfont icon-leftarrow2"></i></span>
		        	<div class="thumbList">
		        		<ul>
												        					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0019/_W4A0785-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0019/_W4A0785-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0019/_W4A0785-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/_W4A0789-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/_W4A0789-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/_W4A0789-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/_W4A0753-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/_W4A0753-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/_W4A0753-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/_W4A0787-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/_W4A0787-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/_W4A0787-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/_W4A0794-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/_W4A0794-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/_W4A0794-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/DFR0019-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/DFR0019-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/DFR0019-73x49.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
					        	</a>
					        </li>
					        					        					      </ul>
		        	</div>
		        	<span class="r"><i class="iconfont icon-rightarrow2"></i></span>
		        </div>
	    					</div>
			<div class="info">
				<h1>Prototyping Shield for Arduino</h1>
				<div class="class">
					<span class="info_sku">SKU:DFR0019</span>
					<span>Brand:DFRobot</span>
					<span class="info_reward">
										Reward Points:10										</span>
				</div>
				<div class="tags">
										<p>Tags: </p>
					<p>
															<a title="Prototyping" href="search-prototyping.html">Prototyping</a>
																				<a title="Arduino" href="search-arduino.html">Arduino</a>
																				<a title="Shield" href="search-shield.html">Shield</a>
															</p>
									</div>
				<div class="tags">
										<p>Related Categories</p>
					<p>
												<a title="Arduino" href="category-35.html">Arduino</a>
												<a title="All Products" href="category-48.html">All Products</a>
												<a title="Prototyping &amp; Accessories" href="category-66.html">Prototyping &amp; Accessories</a>
												<a title="Breadboards &amp; Protoboards" href="category-67.html">Breadboards &amp; Protoboards</a>
												<a title="Arduino Shields" href="category-124.html">Arduino Shields</a>
											</p>
									</div>
				<div class="clear"></div>
				<div class="share">
					<script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53db4dcb71b1e6a9"></script>
					<div class="addthis_sharing_toolbox"></div>
				</div>
				<div class="addwish">
										<button type="button" data-toggle="tooltip" class="btn btn-default on" onclick="wishlist.add('55',$(this));">
						<div class="oncon">ADD TO WISHLIST</div>
						<div class="offcon">ON WISHLIST</div>
					</button>
									</div>
							</div>
		</div>
		<div class="clear"></div>
		
		        <div class="productLineFrame">
			<div class="frequentlyFrame">
				<div class="nav">
					<a rel="nofollow" class="select" href="javascript:;">Frequently Bought Together</a>
				</div>
				<div class="list">
					<div class="base">
								        	        		<a rel="nofollow" href="javascript:;" title="Prototyping Shield for Arduino">
	        			<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0019/_W4A0785-450x300.jpg" title="Prototyping Shield for Arduino" alt="Prototyping Shield for Arduino" />
	        		</a>
		        			      			      	<a title="Prototyping Shield for Arduino" class="pTitle" href="javascript:;">Prototyping Shield for Arduino</a>
					</div>
					<div class="addIcon"><i class="iconfont icon-add"></i></div>
					<div class="addList">
						<div id="frequentlyCon" class="con">
							
							<p class="nowProductPrice" style="display: none;">
						        <span class="cb">
						        	<input type="checkbox" value="1" checked="checked" name="frequentlyBox" class="rpb" data-id="55">	
						        </span>
							    <sapn class="price">
							    							            	$11.00						            							    </sapn>
							</p>
							
							<ul>
															<li>
								    <div class="prd">
								    	<a title="Prototyping Board - SOP8" href="product-805.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0290/IMG_3377-135x91.jpg" alt="Prototyping Board - SOP8" title="Prototyping Board - SOP8" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Prototyping Board - SOP8" class="pTitle" href="product-805.html" target="_blank">Prototyping Board - SOP8</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="805" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$0.55</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Prototyping Board - SOP8/SOP16/SOP28" href="product-806.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0291/171103Update/FIT0291-45%e5%ba%a6900x600-135x91.jpg" alt="Prototyping Board - SOP8/SOP16/SOP28" title="Prototyping Board - SOP8/SOP16/SOP28" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Prototyping Board - SOP8/SOP16/SOP28" class="pTitle" href="product-806.html" target="_blank">Prototyping Board - SOP8/SOP16/SOP28</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="806" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$0.95</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Jumper Wires 7.8&quot; F/M (High Quality 30 Pack)" href="product-1126.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0365/IMG_0526e-135x91.jpg" alt="Jumper Wires 7.8&quot; F/M (High Quality 30 Pack)" title="Jumper Wires 7.8&quot; F/M (High Quality 30 Pack)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Jumper Wires 7.8&quot; F/M (High Quality 30 Pack)" class="pTitle" href="product-1126.html" target="_blank">Jumper Wires 7.8&quot; F/M (High Quality 30 Pack)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1126" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$3.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
														</ul>
						</div>
					</div>
					<div class="resultIcon"><i class="iconfont icon-result"></i></div>
					<div class="btnFrame">
						<div class="text">
							<p>You have choosen:<span class="totNum">0</span></p>
							<p>Total amount:<span class="totMoney">$0</span></p>
						</div>
						<button type="button" id="frequentlyBuy" onclick="javascript:;">BUY NOW</button>
					</div>
				</div>
			</div>
		</div>
				
	</div>
	
	<div class="lineFrame">
		<div class="productLineFrame productCon">
			            <section class="info_INTRODUCTION">
                <p>
				<h4>INTRODUCTION</h4>
                </p>
                <p>
                	
<p>This is the very first prototyping shield for <a href="category-35.html" target="_blank">Arduino</a> in the market since 2010.  It comes with prototyping area that you can sold led , switch or other components,  it also comes with a mini Arduino <a href="category-67.html" target="_blank">breadboard</a> that can stick on the prototyping shield that make the project look tidy and fancy.  </p><p>The working area of this protoshield has DIP prototyping area sutiable for chip, the SOIC prototyping area above USB jack supports up to 14-pin SOIC chip, narrow medium or wide package.</p><p><span style="line-height: 1.42857;">This shield features DFRobot's special coded pin header, red for Power, black for GND, green for digital and blue for analog,  it gives you a crystal clear idea which pin you can connected to .   </span><br></p><p>The reset button is hooked up to provide to ease the way of debugging.  </p>


<p align="center">
<img src="<?php echo $app_url; ?>assets/image/data/DFR0019/310-thickbox.jpg" style="width: 643px;" alt="DFRobot Prototyping Shield for Arduino Demo1" title="DFRobot Prototyping Shield for Arduino Demo 1"></p> 
<p align="center"><img src="<?php echo $app_url; ?>assets/image/data/DFR0019/df_robot_9_1.jpg" style="width: 600px;" alt="DFRobot Prototyping Shield for Arduino Demo Project 2" title="DFRobot Prototyping Shield for Arduino Demo Project 2"></p> 
                </p>
            </section>
                        <section class="info_ FEATURES">
                <p>
				<h4> FEATURES</h4>
                </p>
                <p>
                	
<ul>
	<li>Reset button up top</li>
	<li>ICSP header</li>
	<li>Lots of GND and +5V rails</li>
	<li>DIP prototyping area makes it easy to add more chips</li>
	<li>SOIC prototyping area above USB jack for up to 14-pin SOIC chip, narrow medium or wide package.</li>
	<li>A 'mini' breadboard included</li>
	<li>Extra 6mm (0.24 in) button</li>
</ul>
                </p>
            </section>
                        <section class="info_ DOCUMENTS">
                <p>
				<h4> DOCUMENTS</h4>
                </p>
                <p>
                	

<ul>
	<li><a href="https://github.com/Arduinolibrary/DFRobot_Proto_Shield/raw/master/Proto_Shield_New.pdf" rel="nofollow">Schematics</a></li>
	<li><a href="wiki/index.php/Prototyping_Shield_For_Arduino.html">Wiki / tutorial （Prototyping Shield For Arduino）</a></li>
</ul>
<br>
                </p>
            </section>
                        <section class="info_SHIPPING LIST">
                <p>
				<h4>SHIPPING LIST</h4>
                </p>
                <p>
                	
<ul>
	<li>Prototyping Shield x1</li>
	<li>White mini-breadboard x1</li>
</ul>
                </p>
            </section>
            		</div>
	</div>

	  	
	<div class="lineFrame">
		<div class="productLineFrame disqusFrame">
			<h4>REVIEW</h4>
			<!--disqus begin-->
	        	        <div id="disqus_thread" style="width: 100%;"></div>
	        	        <!--disqus end-->
		</div>
	</div>
	

		
	<div class="lineFrame">
		<div class="productLineFrame">
			
	<div class="recommendFrame">
		<div class="tit">
			Recently Viewed Items and Featured Recommendations
			<span class="page"></span>
			<span class="lBtn"><</span>
			<span class="rBtn">></span>
		</div>
		<div class="list">
			<ul>
								<li>
					<div class="img">
						<a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0265/20140709/_DSC0699-161x107.jpg" alt="Gravity IO Expansion Shield for Arduino V7.1" title="Gravity IO Expansion Shield for Arduino V7.1" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
							Gravity IO Expansion Shield for Arduino V7.1						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $8.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" href="product-128.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/FIT0031/update1407/111-161x107.jpg" alt="Gravity: Analog Sensor Cable for Arduino (10 Pack)" title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" href="product-128.html">
							Gravity: Analog Sensor Cable for Arduino (10 Pack)						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $6.00				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Gravity: I2C BME680 Environmental Sensor" href="product-1697.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/SEN0248/SEN0248-6W4A9508-161x107.jpg" alt="Gravity: I2C BME680 Environmental Sensor" title="Gravity: I2C BME680 Environmental Sensor" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity: I2C BME680 Environmental Sensor" href="product-1697.html">
							Gravity: I2C BME680 Environmental Sensor						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $19.50				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="2x1A DC Motor Shield  for Arduino" href="product-59.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DRI0001/20140723/_DSC0853-161x107.jpg" alt="2x1A DC Motor Shield  for Arduino" title="2x1A DC Motor Shield  for Arduino" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="2x1A DC Motor Shield  for Arduino" href="product-59.html">
							2x1A DC Motor Shield  for Arduino						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $9.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Breadboard Power Supply 5V/3.3V" href="product-488.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0140/20140709/_DSC0537-161x107.jpg" alt="Breadboard Power Supply 5V/3.3V" title="Breadboard Power Supply 5V/3.3V" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Breadboard Power Supply 5V/3.3V" href="product-488.html">
							Breadboard Power Supply 5V/3.3V						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $4.55				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="DC Barrel Jack Adapter - Female" href="product-508.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/FIT0151/0445-161x107.jpg" alt="DC Barrel Jack Adapter - Female" title="DC Barrel Jack Adapter - Female" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="DC Barrel Jack Adapter - Female" href="product-508.html">
							DC Barrel Jack Adapter - Female						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $1.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Gravity: Digital Crash sensor (Right)" href="product-763.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/SEN0138-R/180613Update/SEN0138-R-Side-161x107.jpg" alt="Gravity: Digital Crash sensor (Right)" title="Gravity: Digital Crash sensor (Right)" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity: Digital Crash sensor (Right)" href="product-763.html">
							Gravity: Digital Crash sensor (Right)						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $2.90				        </b>
				        					</div>
				</li>
							</ul>
		</div>
	</div>
    <script type="text/javascript">	
        var disqus_shortname = 'dfrobot';
					var disqus_disable_mobile = true;
							var disqus_identifier = 'prod-55';
			       (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <style type="text/css">
            </style>
		</div>
	</div>
		
  </div>
  
  <div class="visible-xs mobile">
  	<div class="bigeyeSource" data-size="285_190" style="display: none;"></div>
  	
  	
  	<div class="lineFrame">
  		<div class="byFrame" style="overflow: hidden;">
  			<div class="bigeye" data-size="285_190"></div>
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="infoFrame">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="productCon">
  		</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="productLineFrame disqusFrame">
			<h4>REVIEW</h4>
			<!--disqus begin-->
	        	        <div id="disqus_thread" style="width: 100%;"></div>
	        	        <!--disqus end-->
		</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="tutorial">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame recommendFrame">
  		<div class="tutorial">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame pl">
  	</div>
  </div>
</div>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->



<script type="text/javascript">
    var google_tag_params = {
        ecomm_prodid: "55",
        ecomm_pagetype:"product",
    	ecomm_totalvalue: "$11.00",
    };
</script>
<script type="text/javascript">
	/* <![CDATA[ */
    var google_conversion_id = 1000095312;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>

<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1000095312/?guid=ON&amp;script=0"/>
</div>

 <?php include 'footer.php';?>