{% extends "layouts/front.twig" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
		$(document).ready(function(){
			var pageKey = "prduct";
			$.pc({type:"init",page:pageKey});
		});
	});
</script>
<div class="container-fluid bodyFrame">
  <div class="row hidden-xs pc">
  	<div class="lineFrame">
		<ul class="breadcrumb">
		    		    <li><a title="Home" href="index.html">Home</a></li>
		    		    <li><a title="Gravity: 1602 LCD Keypad Shield For Arduino" href="product-51.html">Gravity: 1602 LCD Keypad Shield For Arduino</a></li>
		    	  	</ul>
	</div>
	<div class="clear"></div>
	<div class="lineFrame">
		<div class="productNavFrame">
	  		<h3>Gravity: 1602 LCD Keypad Shield For Arduino</h3>
	  			  		
	  			        <div class="price" data-baseprice="$9.90">
	  				            <p>$9.90</p>
	            	
	  		</div>
				  		
	  		
	  			  		<div class="info_stock" style="line-height: 10px;">
	  			In Stock	  		</div>
	  		<div style="font-size: 12px;">
		        		        Price in reward points: 990		        	  		</div>
	  		
	        <div class="quantity">
		        		        <div class="title">
		        	<b>QTY</b>
			        <span>DISCOUNTS</span>
		        </div>
		        <div class="clear"></div>
			    <div class="list">
			    	<ul>
			        			        	<li>
			        		<b>2-4</b>
			        		<span>$9.70</span>
			        	</li>
			        			        	<li>
			        		<b>5-9</b>
			        		<span>$9.20</span>
			        	</li>
			        			        	<li>
			        		<b>10+</b>
			        		<span>$8.90</span>
			        	</li>
			        			        </ul>
			    </div>
		        		        <div class="clear"></div>
		        <div class="qtyNum">
		  			<label class="control-label" for="input-quantity">Qty</label>
		            <input class="productQty" type="number" name="quantity" value="1" data-min="1" data-max="0"/>
		            <div>
		            		            </div>
		  		</div>
	        </div>
	  		
	  		<div class="opations">
	  				  		</div>
	  		
	        	        <button type="button" class="buyBtn">BUY IT NOW</button>
			<button type="button" class="addCartBtn" data-pid="51">ADD TO CART</button>
							
			<div class="fastDoumentJump">
				<hr></hr>
				<a rel="nofollow" data-id="info_INTRODUCTION" href="javascript:;">INTRODUCTION</a>
				<a rel="nofollow" data-id="info_DOCUMENTS" href="javascript:;">DOCUMENT</a>
				<a rel="nofollow" data-id="tutorial" href="javascript:;">TUTORIAL</a>
			</div>
	  		<div class="clear"></div>
	  		<div class="backTop">
	  			BACK TO TOP
	  		</div>
	  		<div class="clear"></div>
	  	</div>
		
		
		<div class="productLineFrame">
			<div class="thumbFrame">
						        		    	<div class="thumbShow">
		    		<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
		    			<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1406-450x300.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
		    		</a>
		    	</div>
		        <div class="thumbNav">
		        	<span class="l"><i class="iconfont icon-leftarrow2"></i></span>
		        	<div class="thumbList">
		        		<ul>
												        					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1406-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1406-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1406-73x49.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1410-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1410-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1410-73x49.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1409-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1409-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1409-73x49.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1407-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1407-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1407-73x49.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
					        	</a>
					        </li>
					        					        <li>
					        	<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
					        		<img data-sourceimage="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1411-900x600.jpg" data-video="" data-img="https://image.dfrobot.com/image/cache/data/DFR0009/IMG_1411-450x300.jpg" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1411-73x49.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
					        	</a>
					        </li>
					        					        					      </ul>
		        	</div>
		        	<span class="r"><i class="iconfont icon-rightarrow2"></i></span>
		        </div>
	    					</div>
			<div class="info">
				<h1>Gravity: 1602 LCD Keypad Shield For Arduino</h1>
				<div class="class">
					<span class="info_sku">SKU:DFR0009</span>
					<span>Brand:DFRobot</span>
					<span class="info_reward">
										Reward Points:10										</span>
				</div>
				<div class="tags">
										<p>Tags: </p>
					<p>
															<a title="1602" href="search-1602.html">1602</a>
																				<a title="LCD1602" href="search-lcd1602.html">LCD1602</a>
																				<a title="DFR0009" href="search-dfr0009.html">DFR0009</a>
																				<a title="Arduino" href="search-arduino.html">Arduino</a>
																				<a title="LCD Shield" href="search-lcd%20shield.html">LCD Shield</a>
																				<a title="display" href="search-display.html">display</a>
																				<a title="keypad" href="search-keypad.html">keypad</a>
																				<a title="Expansion Shield" href="search-expansion%20shield.html">Expansion Shield</a>
																				<a title="Gravity" href="search-gravity.html">Gravity</a>
															</p>
									</div>
				<div class="tags">
										<p>Related Categories</p>
					<p>
												<a title="Arduino" href="category-35.html">Arduino</a>
												<a title="All Products" href="category-48.html">All Products</a>
												<a title="LCDs, LEDs &amp; Displays" href="category-53.html">LCDs, LEDs &amp; Displays</a>
												<a title="Arduino Shields" href="category-124.html">Arduino Shields</a>
												<a title="Sales" href="category-237.html">Sales</a>
											</p>
									</div>
				<div class="clear"></div>
				<div class="share">
					<script type="text/javascript" src="../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53db4dcb71b1e6a9"></script>
					<div class="addthis_sharing_toolbox"></div>
				</div>
				<div class="addwish">
										<button type="button" data-toggle="tooltip" class="btn btn-default on" onclick="wishlist.add('51',$(this));">
						<div class="oncon">ADD TO WISHLIST</div>
						<div class="offcon">ON WISHLIST</div>
					</button>
									</div>
							</div>
		</div>
		<div class="clear"></div>
		
		        <div class="productLineFrame">
			<div class="frequentlyFrame">
				<div class="nav">
					<a rel="nofollow" class="select" href="javascript:;">Frequently Bought Together</a>
				</div>
				<div class="list">
					<div class="base">
								        	        		<a rel="nofollow" href="javascript:;" title="Gravity: 1602 LCD Keypad Shield For Arduino">
	        			<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0009/IMG_1406-450x300.jpg" title="Gravity: 1602 LCD Keypad Shield For Arduino" alt="Gravity: 1602 LCD Keypad Shield For Arduino" />
	        		</a>
		        			      			      	<a title="Gravity: 1602 LCD Keypad Shield For Arduino" class="pTitle" href="javascript:;">Gravity: 1602 LCD Keypad Shield For Arduino</a>
					</div>
					<div class="addIcon"><i class="iconfont icon-add"></i></div>
					<div class="addList">
						<div id="frequentlyCon" class="con">
							
							<p class="nowProductPrice" style="display: none;">
						        <span class="cb">
						        	<input type="checkbox" value="1" checked="checked" name="frequentlyBox" class="rpb" data-id="51">	
						        </span>
							    <sapn class="price">
							    							            	$9.90						            							    </sapn>
							</p>
							
							<ul>
															<li>
								    <div class="prd">
								    	<a title="3-Wire LED Module 8 Digital (Arduino Compatible)" href="product-374.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0090/aa-135x91.jpg" alt="3-Wire LED Module 8 Digital (Arduino Compatible)" title="3-Wire LED Module 8 Digital (Arduino Compatible)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="3-Wire LED Module 8 Digital (Arduino Compatible)" class="pTitle" href="product-374.html" target="_blank">3-Wire LED Module 8 Digital (Arduino Compatible)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="374" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$11.05</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="12V Low noise DC Motor 146RPM w/Encoder " href="product-777.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0277/0587-135x91.jpg" alt="12V Low noise DC Motor 146RPM w/Encoder " title="12V Low noise DC Motor 146RPM w/Encoder " class="img-responsive" />
									    </a>
									    <p class="pName"><a title="12V Low noise DC Motor 146RPM w/Encoder " class="pTitle" href="product-777.html" target="_blank">12V Low noise DC Motor 146RPM w/Encoder </a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="777" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$47.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="DFRduino UNO R3 - Arduino Compatible" href="product-838.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0216/20140710/_DSC0337-135x91.jpg" alt="DFRduino UNO R3 - Arduino Compatible" title="DFRduino UNO R3 - Arduino Compatible" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="DFRduino UNO R3 - Arduino Compatible" class="pTitle" href="product-838.html" target="_blank">DFRduino UNO R3 - Arduino Compatible</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="838" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$19.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Romeo V2- an Arduino Robot Board (Arduino Leonardo) with Motor Driver" href="product-844.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0225/201407/_DSC0991-135x91.jpg" alt="Romeo V2- an Arduino Robot Board (Arduino Leonardo) with Motor Driver" title="Romeo V2- an Arduino Robot Board (Arduino Leonardo) with Motor Driver" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Romeo V2- an Arduino Robot Board (Arduino Leonardo) with Motor Driver" class="pTitle" href="product-844.html" target="_blank">Romeo V2- an Arduino Robot Board (Arduino Leonardo) with Motor Driver</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="844" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$34.95</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="URM07 - UART Low-Power Consumption Ultrasonic Sensor (20~750cm)" href="product-1057.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0153/SEN0153/6W4A1295-135x91.jpg" alt="URM07 - UART Low-Power Consumption Ultrasonic Sensor (20~750cm)" title="URM07 - UART Low-Power Consumption Ultrasonic Sensor (20~750cm)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="URM07 - UART Low-Power Consumption Ultrasonic Sensor (20~750cm)" class="pTitle" href="product-1057.html" target="_blank">URM07 - UART Low-Power Consumption Ultrasonic Sensor (20~750cm)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1057" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$15.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Tilt Compensated Magnetic Compass (CMPS12) " href="product-1275.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0183/SEN0183-135x91.jpg" alt="Tilt Compensated Magnetic Compass (CMPS12) " title="Tilt Compensated Magnetic Compass (CMPS12) " class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Tilt Compensated Magnetic Compass (CMPS12) " class="pTitle" href="product-1275.html" target="_blank">Tilt Compensated Magnetic Compass (CMPS12) </a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1275" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$29.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: UART Infrared CO2 Sensor (0-50000ppm)" href="product-1565.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0220/6W4A3379-135x91.jpg" alt="Gravity: UART Infrared CO2 Sensor (0-50000ppm)" title="Gravity: UART Infrared CO2 Sensor (0-50000ppm)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: UART Infrared CO2 Sensor (0-50000ppm)" class="pTitle" href="product-1565.html" target="_blank">Gravity: UART Infrared CO2 Sensor (0-50000ppm)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1565" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$89.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Analog Infrared CO2 Sensor For Arduino (0~5000 ppm)" href="product-1549.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0219/1-135x91.jpg" alt="Gravity: Analog Infrared CO2 Sensor For Arduino (0~5000 ppm)" title="Gravity: Analog Infrared CO2 Sensor For Arduino (0~5000 ppm)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Analog Infrared CO2 Sensor For Arduino (0~5000 ppm)" class="pTitle" href="product-1549.html" target="_blank">Gravity: Analog Infrared CO2 Sensor For Arduino (0~5000 ppm)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1549" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$58.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: 360 Degree Hall Angle Sensor" href="product-1553.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0221/_W4A9613-135x91.jpg" alt="Gravity: 360 Degree Hall Angle Sensor" title="Gravity: 360 Degree Hall Angle Sensor" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: 360 Degree Hall Angle Sensor" class="pTitle" href="product-1553.html" target="_blank">Gravity: 360 Degree Hall Angle Sensor</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1553" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$60.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Flexible Piezo Film Vibration Sensor" href="product-1568.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0209/180626Update/SEN0209-135x91.jpg" alt="Gravity: Flexible Piezo Film Vibration Sensor" title="Gravity: Flexible Piezo Film Vibration Sensor" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Flexible Piezo Film Vibration Sensor" class="pTitle" href="product-1568.html" target="_blank">Gravity: Flexible Piezo Film Vibration Sensor</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1568" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$5.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Analog 20A Current Sensor" href="product-1570.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0214/6W4A1766-135x91.jpg" alt="Gravity: Analog 20A Current Sensor" title="Gravity: Analog 20A Current Sensor" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Analog 20A Current Sensor" class="pTitle" href="product-1570.html" target="_blank">Gravity: Analog 20A Current Sensor</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1570" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$8.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Formaldehyde (HCHO) Sensor " href="product-1574.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0231/6W4A1948-135x91.jpg" alt="Gravity: Formaldehyde (HCHO) Sensor " title="Gravity: Formaldehyde (HCHO) Sensor " class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Formaldehyde (HCHO) Sensor " class="pTitle" href="product-1574.html" target="_blank">Gravity: Formaldehyde (HCHO) Sensor </a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1574" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$49.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity 4Pin IIC/I2C/UART Sensor Cable (10pcs)" href="product-1581.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0513/6W4A0145-135x91.jpg" alt="Gravity 4Pin IIC/I2C/UART Sensor Cable (10pcs)" title="Gravity 4Pin IIC/I2C/UART Sensor Cable (10pcs)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity 4Pin IIC/I2C/UART Sensor Cable (10pcs)" class="pTitle" href="product-1581.html" target="_blank">Gravity 4Pin IIC/I2C/UART Sensor Cable (10pcs)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1581" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$6.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: I2C BME280 Environmental Sensor" href="product-1606.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0236/SEN0236/1-135x91.jpg" alt="Gravity: I2C BME280 Environmental Sensor" title="Gravity: I2C BME280 Environmental Sensor" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: I2C BME280 Environmental Sensor" class="pTitle" href="product-1606.html" target="_blank">Gravity: I2C BME280 Environmental Sensor</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1606" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$15.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Incremental Photoelectric Rotary Encoder - 400P/R" href="product-1601.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0230/6W4A0532-135x91.jpg" alt="Incremental Photoelectric Rotary Encoder - 400P/R" title="Incremental Photoelectric Rotary Encoder - 400P/R" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Incremental Photoelectric Rotary Encoder - 400P/R" class="pTitle" href="product-1601.html" target="_blank">Incremental Photoelectric Rotary Encoder - 400P/R</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1601" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$25.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Air Quality Monitor (PM 2.5, Formaldehyde, Temperature &amp; Humidity Sensor)" href="product-1612.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0233/SEN0233-%e5%85%a8%e5%ae%b6%e7%a6%8f900x600-135x91.jpg" alt="Air Quality Monitor (PM 2.5, Formaldehyde, Temperature &amp; Humidity Sensor)" title="Air Quality Monitor (PM 2.5, Formaldehyde, Temperature &amp; Humidity Sensor)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Air Quality Monitor (PM 2.5, Formaldehyde, Temperature &amp; Humidity Sensor)" class="pTitle" href="product-1612.html" target="_blank">Air Quality Monitor (PM 2.5, Formaldehyde, Temperature &amp; Humidity Sensor)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1612" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$79.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: I2C VEML7700 Ambient Light Sensor (0~120Klx)" href="product-1620.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0228/sen0228-6W4A1400-135x91.jpg" alt="Gravity: I2C VEML7700 Ambient Light Sensor (0~120Klx)" title="Gravity: I2C VEML7700 Ambient Light Sensor (0~120Klx)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: I2C VEML7700 Ambient Light Sensor (0~120Klx)" class="pTitle" href="product-1620.html" target="_blank">Gravity: I2C VEML7700 Ambient Light Sensor (0~120Klx)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1620" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$9.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Digital Adjustable Infrared Proximity Sensor" href="product-1653.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0239/SEN0239-45%e5%ba%a6900X600-135x91.jpg" alt="Gravity: Digital Adjustable Infrared Proximity Sensor" title="Gravity: Digital Adjustable Infrared Proximity Sensor" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Digital Adjustable Infrared Proximity Sensor" class="pTitle" href="product-1653.html" target="_blank">Gravity: Digital Adjustable Infrared Proximity Sensor</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1653" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$12.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="FireBeetle Covers - DC Motor &amp; Stepper Driver" href="product-1666.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0508/DFR0508-6-135x91.jpg" alt="FireBeetle Covers - DC Motor &amp; Stepper Driver" title="FireBeetle Covers - DC Motor &amp; Stepper Driver" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="FireBeetle Covers - DC Motor &amp; Stepper Driver" class="pTitle" href="product-1666.html" target="_blank">FireBeetle Covers - DC Motor &amp; Stepper Driver</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1666" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$14.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: Analog Sound Level Meter" href="product-1663.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0232/SEN0232-6W4A9955-135x91.jpg" alt="Gravity: Analog Sound Level Meter" title="Gravity: Analog Sound Level Meter" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: Analog Sound Level Meter" class="pTitle" href="product-1663.html" target="_blank">Gravity: Analog Sound Level Meter</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1663" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$39.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="LoRa MESH Radio Module - 433MHz" href="product-1669.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/TEL0114/TEL0114-1-135x91.jpg" alt="LoRa MESH Radio Module - 433MHz" title="LoRa MESH Radio Module - 433MHz" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="LoRa MESH Radio Module - 433MHz" class="pTitle" href="product-1669.html" target="_blank">LoRa MESH Radio Module - 433MHz</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1669" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$39.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="LoRa MESH Radio Module - 868MHz" href="product-1670.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/TEL0117/TEL0117-1-135x91.jpg" alt="LoRa MESH Radio Module - 868MHz" title="LoRa MESH Radio Module - 868MHz" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="LoRa MESH Radio Module - 868MHz" class="pTitle" href="product-1670.html" target="_blank">LoRa MESH Radio Module - 868MHz</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1670" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$39.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="LoRa Radio Module - 868MHz" href="product-1671.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/TEL0115/TEL0115-1-135x91.jpg" alt="LoRa Radio Module - 868MHz" title="LoRa Radio Module - 868MHz" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="LoRa Radio Module - 868MHz" class="pTitle" href="product-1671.html" target="_blank">LoRa Radio Module - 868MHz</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1671" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$39.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="LoRa Radio Module - 433MHz" href="product-1672.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/TEL0116/TEL0116-1-135x91.jpg" alt="LoRa Radio Module - 433MHz" title="LoRa Radio Module - 433MHz" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="LoRa Radio Module - 433MHz" class="pTitle" href="product-1672.html" target="_blank">LoRa Radio Module - 433MHz</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1672" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$39.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm 1Kg 3D Printer PLA Filament (Sky Blue)" href="product-1673.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-SB/FIT0532-SB-001-135x91.jpg" alt="1.75mm 1Kg 3D Printer PLA Filament (Sky Blue)" title="1.75mm 1Kg 3D Printer PLA Filament (Sky Blue)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm 1Kg 3D Printer PLA Filament (Sky Blue)" class="pTitle" href="product-1673.html" target="_blank">1.75mm 1Kg 3D Printer PLA Filament (Sky Blue)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1673" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: UART OBLOQ – IoT Module (Microsoft Azure)" href="product-1674.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/TEL0118/TEL0118-003-135x91.jpg" alt="Gravity: UART OBLOQ – IoT Module (Microsoft Azure)" title="Gravity: UART OBLOQ – IoT Module (Microsoft Azure)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: UART OBLOQ – IoT Module (Microsoft Azure)" class="pTitle" href="product-1674.html" target="_blank">Gravity: UART OBLOQ – IoT Module (Microsoft Azure)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1674" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$9.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Fluorescent Yellow (1kg)" href="product-1676.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-FY/FIT0532-FY-001-135x91.jpg" alt="1.75mm-PLA-Fluorescent Yellow (1kg)" title="1.75mm-PLA-Fluorescent Yellow (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Fluorescent Yellow (1kg)" class="pTitle" href="product-1676.html" target="_blank">1.75mm-PLA-Fluorescent Yellow (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1676" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Sliver (1kg)" href="product-1677.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-S/FIT0532-S-001-135x91.jpg" alt="1.75mm-PLA-Sliver (1kg)" title="1.75mm-PLA-Sliver (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Sliver (1kg)" class="pTitle" href="product-1677.html" target="_blank">1.75mm-PLA-Sliver (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1677" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Purple (1kg)" href="product-1678.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-PE/FIT0532-PE-001-135x91.jpg" alt="1.75mm-PLA-Purple (1kg)" title="1.75mm-PLA-Purple (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Purple (1kg)" class="pTitle" href="product-1678.html" target="_blank">1.75mm-PLA-Purple (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1678" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Orange (1kg)" href="product-1679.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-O/FIT0532-O-001-135x91.jpg" alt="1.75mm-PLA-Orange (1kg)" title="1.75mm-PLA-Orange (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Orange (1kg)" class="pTitle" href="product-1679.html" target="_blank">1.75mm-PLA-Orange (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1679" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-White (1kg)" href="product-1680.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-W/FIT0532-W-001-135x91.jpg" alt="1.75mm-PLA-White (1kg)" title="1.75mm-PLA-White (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-White (1kg)" class="pTitle" href="product-1680.html" target="_blank">1.75mm-PLA-White (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1680" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Fluorescent Red (1kg)" href="product-1681.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-FR/FIT0532-FR-001-135x91.jpg" alt="1.75mm-PLA-Fluorescent Red (1kg)" title="1.75mm-PLA-Fluorescent Red (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Fluorescent Red (1kg)" class="pTitle" href="product-1681.html" target="_blank">1.75mm-PLA-Fluorescent Red (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1681" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Gold (1kg)" href="product-1682.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-GD/FIT0532-GD-001-135x91.jpg" alt="1.75mm-PLA-Gold (1kg)" title="1.75mm-PLA-Gold (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Gold (1kg)" class="pTitle" href="product-1682.html" target="_blank">1.75mm-PLA-Gold (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1682" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Shocking Pink (1kg)" href="product-1683.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-SP/FIT0532-SP-001-135x91.jpg" alt="1.75mm-PLA-Shocking Pink (1kg)" title="1.75mm-PLA-Shocking Pink (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Shocking Pink (1kg)" class="pTitle" href="product-1683.html" target="_blank">1.75mm-PLA-Shocking Pink (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1683" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Transparent (1kg)" href="product-1684.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-T/FIT0532-T-001-135x91.jpg" alt="1.75mm-PLA-Transparent (1kg)" title="1.75mm-PLA-Transparent (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Transparent (1kg)" class="pTitle" href="product-1684.html" target="_blank">1.75mm-PLA-Transparent (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1684" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Natural (1kg)" href="product-1685.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-N/FIT0532-N-001-135x91.jpg" alt="1.75mm-PLA-Natural (1kg)" title="1.75mm-PLA-Natural (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Natural (1kg)" class="pTitle" href="product-1685.html" target="_blank">1.75mm-PLA-Natural (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1685" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Black (1kg)" href="product-1686.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-B/FIT0532-B-001-135x91.jpg" alt="1.75mm-PLA-Black (1kg)" title="1.75mm-PLA-Black (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Black (1kg)" class="pTitle" href="product-1686.html" target="_blank">1.75mm-PLA-Black (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1686" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Red (1kg)" href="product-1687.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-R/FIT0532-R-001-135x91.jpg" alt="1.75mm-PLA-Red (1kg)" title="1.75mm-PLA-Red (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Red (1kg)" class="pTitle" href="product-1687.html" target="_blank">1.75mm-PLA-Red (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1687" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="1.75mm-PLA-Yellow (1kg)" href="product-1688.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/FIT0532/FIT0532-Y/FIT0532-Y-001-135x91.jpg" alt="1.75mm-PLA-Yellow (1kg)" title="1.75mm-PLA-Yellow (1kg)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="1.75mm-PLA-Yellow (1kg)" class="pTitle" href="product-1688.html" target="_blank">1.75mm-PLA-Yellow (1kg)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1688" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$28.50</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: UART MP3 Voice Module" href="product-1741.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0534/DFR0534-135x91.jpg" alt="Gravity: UART MP3 Voice Module" title="Gravity: UART MP3 Voice Module" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: UART MP3 Voice Module" class="pTitle" href="product-1741.html" target="_blank">Gravity: UART MP3 Voice Module</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1741" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$4.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: VL53L0X ToF Laser Range Finder" href="product-1706.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0245/SEN0245-Image-135x91.jpg" alt="Gravity: VL53L0X ToF Laser Range Finder" title="Gravity: VL53L0X ToF Laser Range Finder" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: VL53L0X ToF Laser Range Finder" class="pTitle" href="product-1706.html" target="_blank">Gravity: VL53L0X ToF Laser Range Finder</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1706" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$12.90</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="Gravity: I2C Non-contact IR Temperature Sensor (MLX90614-DCI)" href="product-1745.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/SEN0263/SEN0263-135x91.jpg" alt="Gravity: I2C Non-contact IR Temperature Sensor (MLX90614-DCI)" title="Gravity: I2C Non-contact IR Temperature Sensor (MLX90614-DCI)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="Gravity: I2C Non-contact IR Temperature Sensor (MLX90614-DCI)" class="pTitle" href="product-1745.html" target="_blank">Gravity: I2C Non-contact IR Temperature Sensor (MLX90614-DCI)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1745" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$59.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
															<li>
								    <div class="prd">
								    	<a title="2.2”TFT LCD Display V1.0 (SPI Interface)" href="product-1794.html" target="_blank">
									    	<img src="<?php echo $app_url; ?>assets/image/cache/data/DFR0529/DFR0529-detail-001-135x91.jpg" alt="2.2”TFT LCD Display V1.0 (SPI Interface)" title="2.2”TFT LCD Display V1.0 (SPI Interface)" class="img-responsive" />
									    </a>
									    <p class="pName"><a title="2.2”TFT LCD Display V1.0 (SPI Interface)" class="pTitle" href="product-1794.html" target="_blank">2.2”TFT LCD Display V1.0 (SPI Interface)</a></p>
									    <p>
									        <span class="cb">
									        	<input data-id="1794" class="rpb" name="frequentlyBox" type="checkbox" value="0"></span>
									        									        	<sapn class="price">$15.00</span>
									        									    </p>
								    </div>
								    <div class="icon">
								    	<i class="iconfont icon-add"></i>
								    </div>
							    </li>
														</ul>
						</div>
					</div>
					<div class="resultIcon"><i class="iconfont icon-result"></i></div>
					<div class="btnFrame">
						<div class="text">
							<p>You have choosen:<span class="totNum">0</span></p>
							<p>Total amount:<span class="totMoney">$0</span></p>
						</div>
						<button type="button" id="frequentlyBuy" onclick="javascript:;">BUY NOW</button>
					</div>
				</div>
			</div>
		</div>
				
	</div>
	
	<div class="lineFrame">
		<div class="productLineFrame productCon">
			            <section class="info_INTRODUCTION">
                <p>
				<h4>INTRODUCTION</h4>
                </p>
                <p>
                	
<p>This is a very popular LCD Keypad shield for <a href="category-35.html" target="_blank">Arduino</a> and other variants. It includes a 2x16 <a href="category-130.html">LCD display</a> and 6 momentary push buttons. Pins 4, 5, 6, 7, 8, 9 and 10 are used to interface with the LCD. Just one Analog Pin 0 is used to read the five pushbuttons. The LCD shield supports contrast adjustment and back-lit on/off functions. It also exposes five analog pins with DFRobot color code for easy analog sensor plugging and display. The on board <a href="category-131.html">LED</a> indicates power on.<br>
</p><p><span style="line-height: 17.1428px;">This lcd arduino shield has 5 keys — select, up, right, down and left which allow you move through menus and make selections straight from one board attached to your<a href="category-projects8e47.html?search=arduino%20project" target="_blank"> Arduino project</a> without requiring a massive tower of shields.</span></p><p>
This design allows you keep connecting sensors to the rest of the pins, and use it for monitoring or menu selection with the push buttons even for gaming. Project applications require testing or debugging. Displaying information right away help on most occasions when a computer is not at reach. If you are planning to build something not attached to a computer and you need to check what is going on when you place it on position, this addition will prove very valuable to make sure the program is running well.</p><p>The used LCD pins are not exposed on top side of the board leaving only the unused ones. This way, conflict with LCD pins on top of the board will not happen anymore. This design includes a APC / Bluetooth v3 socket to enable you data transmission with your robot.</p><p>The shield is designed for 'classic' Arduino such as the Uno, Duemilanove, Diecimilla, etc. </p><p><b>1602 LCD Keypad Shield For Arduino projects:</b></p><p><iframe frameborder="0" src="http://www.youtube.com/embed/wtSJ6ojU9w0" width="640" height="360" class="note-video-clip"></iframe><br></p>
<br>
                </p>
            </section>
                        <section class="info_SPECIFICATION">
                <p>
				<h4>SPECIFICATION</h4>
                </p>
                <p>
                	
<ul>
	<li>Operating Voltage: 5V</li>
	<li>5 Push buttons to supply a custom menu control panel</li>
	<li>RST button for resetting arduino program</li>
	<li>Integrate a potentiometer for adjusting the backlight</li>
	<li>Pin used:
	<ul>
		<li>D4-D7    -> LCD Data transmission</li>
		<li>D8       -> Register Select</li>
		<li>D9       -> Enable pin</li>
		<li>D10      -> Backlight control</li>
	</ul>
	</li>
	<li>APC&BT pin header for connecting wireless devices, directly compatible with:
	<ul>
		<li><a href="product-57.html">APC220 Radio Communication Module</a></li>
		<li><a href="product-360.html">DFRobot Bluetooth V3</a></li>
	</ul>
	</li>
	<li>Expanded available I/O pins</li>
	<li>Expanded Analog Pinout with standard DFRobot configuration for fast sensor extension</li>
	<li>Dimension: 80 x 58 mm (3.15x 2.28 in)</li>
</ul>
<br>
                </p>
            </section>
                        <section class="info_DOCUMENTS">
                <p>
				<h4>DOCUMENTS</h4>
                </p>
                <p>
                	
<ul>
	<li><a href="wiki/index.php/LCD_KeyPad_Shield_For_Arduino_SKU__DFR0009.html">Wiki (LCD KeyPad Shield For Arduino)</a></li>
	<li><a href="../raw.githubusercontent.com/Arduinolibrary/DFRobot_LCD_keypad/master/LCDKeypad%20Shield.png" rel="nofollow">Product Dimension</a></li>
	<li><a href="../raw.githubusercontent.com/Arduinolibrary/DFRobot_LCD_keypad/master/DFR0009_Layout.png" rel="nofollow">Layout</a></li>
</ul>
<br>
                </p>
            </section>
                        <section class="info_SHIPPING LIST">
                <p>
				<h4>SHIPPING LIST</h4>
                </p>
                <p>
                	
<ul>
	<li>LCD Keypad Shield for Arduino    x1</li>
</ul>
<br>
                </p>
            </section>
                        <section class="info_PROJECTS">
                <p>
				<h4>PROJECTS</h4>
                </p>
                <p>
                	
<ul>
	<li><!--pro_begin--><a href="http://www.thingiverse.com/thing:50931" rel="nofollow">LCD for 3D printer menu selection</a></li>
	<li><a href="http://youtu.be/v8ldQVXc-vc" rel="nofollow">Soil moisture reader</a></li>
</ul>
                </p>
            </section>
            		</div>
	</div>

	  	  <div class="lineFrame">
		  <div class="productLineFrame tutorial">
			  <h4 class="info_TUTORIAL">TUTORIAL</h4>
			  <div class="blogList">
				  <ul>
					  					  					  <li>
						  <div class="titleBG"></div>
						  <div class="title">
							  Existential Crisis aka Arduino RPG						  </div>
						  <div class="img">
							  <a title="Existential Crisis aka Arduino RPG" href="blog-533.html">
								  <img src="<?php echo $app_url; ?>assets/image/cache/Blog/20160921200426-285x190.png" alt="Existential Crisis aka Arduino RPG" title="Existential Crisis aka Arduino RPG" class="img-responsive" />
							  </a>
						  </div>
					  </li>
					  					  					  <li>
						  <div class="titleBG"></div>
						  <div class="title">
							  How To Build A Robot - Lesson 6: Build An Arduino Robot That Can Monitor CO2 Density						  </div>
						  <div class="img">
							  <a title="How To Build A Robot - Lesson 6: Build An Arduino Robot That Can Monitor CO2 Density" href="blog-561.html">
								  <img src="<?php echo $app_url; ?>assets/image/cache/Blog/7-285x190.jpg" alt="How To Build A Robot - Lesson 6: Build An Arduino Robot That Can Monitor CO2 Density" title="How To Build A Robot - Lesson 6: Build An Arduino Robot That Can Monitor CO2 Density" class="img-responsive" />
							  </a>
						  </div>
					  </li>
					  					  					  <li>
						  <div class="titleBG"></div>
						  <div class="title">
							  How to make a Wobbly Penguin Arduino Robot 						  </div>
						  <div class="img">
							  <a title="How to make a Wobbly Penguin Arduino Robot " href="blog-694.html">
								  <img src="<?php echo $app_url; ?>assets/image/cache/Blog/Arduino%20Robot/rewrew-285x190.png" alt="How to make a Wobbly Penguin Arduino Robot " title="How to make a Wobbly Penguin Arduino Robot " class="img-responsive" />
							  </a>
						  </div>
					  </li>
					  					  					  <li>
						  <div class="titleBG"></div>
						  <div class="title">
							  Google Chrome Dinosaur Game on 16x2 LCD Shield						  </div>
						  <div class="img">
							  <a title="Google Chrome Dinosaur Game on 16x2 LCD Shield" href="blog-1039.html">
								  <img src="<?php echo $app_url; ?>assets/image/cache/Blog/AAA/AASophie/Google%20Chrome%20Dinosaur%20Game/mmexport1534585856521-285x190.jpg" alt="Google Chrome Dinosaur Game on 16x2 LCD Shield" title="Google Chrome Dinosaur Game on 16x2 LCD Shield" class="img-responsive" />
							  </a>
						  </div>
					  </li>
					  					  				  </ul>
			  </div>
			  <div class="clear"></div>
			  <div class="moreBtn" style="display: none;">
				  <i class="fa fa-chevron-down"></i>More
			  </div>
		  </div>
	  </div>
	  	
	<div class="lineFrame">
		<div class="productLineFrame disqusFrame">
			<h4>REVIEW</h4>
			<!--disqus begin-->
	        	        <div id="disqus_thread" style="width: 100%;"></div>
	        	        <!--disqus end-->
		</div>
	</div>
	

		
	<div class="lineFrame">
		<div class="productLineFrame">
			
	<div class="recommendFrame">
		<div class="tit">
			Recently Viewed Items and Featured Recommendations
			<span class="page"></span>
			<span class="lBtn"><</span>
			<span class="rBtn">></span>
		</div>
		<div class="list">
			<ul>
								<li>
					<div class="img">
						<a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0265/20140709/_DSC0699-161x107.jpg" alt="Gravity IO Expansion Shield for Arduino V7.1" title="Gravity IO Expansion Shield for Arduino V7.1" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity IO Expansion Shield for Arduino V7.1" href="product-1009.html">
							Gravity IO Expansion Shield for Arduino V7.1						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $8.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Arduino Uno Rev 3" href="product-610.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0181/DFR0181-1-161x107.jpg" alt="Arduino Uno Rev 3" title="Arduino Uno Rev 3" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Arduino Uno Rev 3" href="product-610.html">
							Arduino Uno Rev 3						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $23.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" href="product-128.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/FIT0031/update1407/111-161x107.jpg" alt="Gravity: Analog Sensor Cable for Arduino (10 Pack)" title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity: Analog Sensor Cable for Arduino (10 Pack)" href="product-128.html">
							Gravity: Analog Sensor Cable for Arduino (10 Pack)						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $6.00				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="DHT22 Temperature and Humidity Sensor" href="product-1102.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/SEN0137/181025Update/SEN0137-161x107.jpg" alt="DHT22 Temperature and Humidity Sensor" title="DHT22 Temperature and Humidity Sensor" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="DHT22 Temperature and Humidity Sensor" href="product-1102.html">
							DHT22 Temperature and Humidity Sensor						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $5.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Bluno Nano - An Arduino Nano with Bluetooth 4.0" href="product-1122.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/DFR0296/20141028/_DSC0315-161x107.jpg" alt="Bluno Nano - An Arduino Nano with Bluetooth 4.0" title="Bluno Nano - An Arduino Nano with Bluetooth 4.0" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Bluno Nano - An Arduino Nano with Bluetooth 4.0" href="product-1122.html">
							Bluno Nano - An Arduino Nano with Bluetooth 4.0						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $24.90				        </b>
				        					</div>
				</li>
								<li>
					<div class="img">
						<a title="Gravity: I2C BME280 Environmental Sensor" href="product-1606.html">
														<img data-video="" src="<?php echo $app_url; ?>assets/image/cache/data/SEN0236/SEN0236/1-161x107.jpg" alt="Gravity: I2C BME280 Environmental Sensor" title="Gravity: I2C BME280 Environmental Sensor" class="img-responsive" />
						</a>
					</div>
					<div class="title">
						<a title="Gravity: I2C BME280 Environmental Sensor" href="product-1606.html">
							Gravity: I2C BME280 Environmental Sensor						</a>
					</div>
					<div class="btns">
										        <b class="price">
				          $15.00				        </b>
				        					</div>
				</li>
							</ul>
		</div>
	</div>
    <script type="text/javascript">	
        var disqus_shortname = 'dfrobot';
					var disqus_disable_mobile = true;
							var disqus_identifier = 'prod-51';
			       (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <style type="text/css">
            </style>
		</div>
	</div>
		
  </div>
  
  <div class="visible-xs mobile">
  	<div class="bigeyeSource" data-size="285_190" style="display: none;"></div>
  	
  	
  	<div class="lineFrame">
  		<div class="byFrame" style="overflow: hidden;">
  			<div class="bigeye" data-size="285_190"></div>
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="infoFrame">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="productCon">
  		</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="productLineFrame disqusFrame">
			<h4>REVIEW</h4>
			<!--disqus begin-->
	        	        <div id="disqus_thread" style="width: 100%;"></div>
	        	        <!--disqus end-->
		</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="lineFrame">
  		<div class="tutorial">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame recommendFrame">
  		<div class="tutorial">
  		</div>
  	</div>
  	<div class="clear"></div>
  	<div class="lineFrame pl">
  	</div>
  </div>
</div>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->



<script type="text/javascript">
    var google_tag_params = {
        ecomm_prodid: "51",
        ecomm_pagetype:"product",
    	ecomm_totalvalue: "$9.90",
    };
</script>
<script type="text/javascript">
	/* <![CDATA[ */
    var google_conversion_id = 1000095312;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>

<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1000095312/?guid=ON&amp;script=0"/>
</div>
{% endblock %}
